[2015-03-12 14:59] mjafin opened #1 "Exception in thread "main" java.lang.NullPointerException"
Hi,
I'm testing VarDict Java on bcbio-nextgen's integration test data and it's dying out on me likely due to edge cases:

[code]

When running VarDict (the perl version) it often throws missing variable warnings (but doesn't die out). I suspect this would cause the Java version to crash though if it's trying to access variables that don't exist. I'm just guessing here since the error message isn't

[2015-03-15 09:51] #1 closed, assigned to nobody

[2015-03-15 10:05] mjafin opened #2 "Differences in output for perl and java versions:"
Hi there, can you take a look at the java and perl outputs in this gist:
https://gist.github.com/mjafin/2ef6660ec45bfa31ddbc

I'm going to refer to Excel notation for row and column numbering. If you look at column AB, the numerical precision in Perl is 1 decimal, whereas the Java output seems much higher. For consistency it would be great if you used the same precision.

I don't know if it's a co

[2015-04-13 19:31] chapmanb opened #3 "Shortened line count with repeated start/end/ref/alt coordinates inserted"
Thanks for the work on the VarDict java port. The speed improvements are very
welcome, and I've been working on validating the latest version (1.2.1) against
the DREAM ICGC-TCGA challenge data used previously to validate VarDict Perl
(http://bcb.io/2015/03/05/cancerval/).

I ran into some issues with truncated lines where the VarDictJava output will
have 37 lines instead of 51. A small reproducibl

[2015-04-14 09:15] chapmanb opened #4 "Avoid duplicated `-Xmx` options for shell wrapper"
When running with the VarDict shell script and passing in options via `VAR_DICT_OPTS` the Java memory specification ends up on the commandline twice since it is initially set in `DEFAULT_JVM_OPTS`. Apparently the behavior of this is that the later specification will take precedence, although it's not explicitly defined so is the potential source of hard to debug issues later:

http://stackoverflow

[2015-04-14 12:03] mjafin commented on #3
Big thanks for debugging this Brad! What do you reckon would be the most informative way of failing in the R code? And exit with non-zero exit code?

[2015-04-14 13:35] chapmanb commented on #3
Miika;
My crude thought was to remove the `tryCatch` and just let it fail and spit out an error message. The error was pretty useful in debugging here so hopefully will at least give us a clue of future problems so we can fix them upstream. If there are cases where we expect it is okay to fail we can enumerate and deal with those. What do you think?

[2015-04-16 07:41] #2 closed

[2015-04-16 07:43] mjafin commented on #3
Brad, I believe this and issue #4 have been addressed in the latest release (candidate). If the latest additions are to your liking let's close these tickets

[2015-04-16 13:17] mjafin commented on #3
~100% concordance in latest revision: http://imgur.com/njwE9tG

[2015-04-16 13:17] #3 closed

[2015-04-16 13:25] chapmanb commented on #4
Thanks so much for all the fixes in 1.2.2. It looks great.

[2015-04-16 13:25] #4 closed

[2015-04-22 10:29] chapmanb opened #5 "Internal sentinel '^' character included with alternative allele in output"
Viktor and Zaal;
Thanks again for all the fixes in the latest release. I've been testing on a larger whole genome dataset and ran into an additional problem where alternative alleles remain prefixed with a `^`. Here is a minimal example with a shell script and subset BAM files:

https://s3.amazonaws.com/chapmanb/az/vardict_altallele_debug.tar.gz

The call at 103577362 has the extra carrot when cal

[2015-04-22 13:56] chapmanb commented on #5
If this helps debugging, I found a couple of additional cases with this problem and all had an N following the carrot: '^N'. This happened for Ns both at the start and the middle of alternative alleles. Hope this helps narrow things down.

[2015-04-23 17:48] ltfang-bina opened #6 "java.lang.StringIndexOutOfBoundsException"
I have seen the following exit message on error:

Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: -1
	at java.lang.String.charAt(String.java:658)
	at com.astrazeneca.vardict.VarDict.modifyCigar(VarDict.java:6065)
	at com.astrazeneca.vardict.VarDict.parseSAM(VarDict.java:1529)
	at com.astrazeneca.vardict.VarDict.toVars(VarDict.java:2515)
	at com.astr

[2015-04-23 18:03] #6 closed

[2015-04-23 18:05] ltfang-bina opened #7 "java.lang.StringIndexOutOfBoundsException"
I have seen the following exit message on error:

Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: -1
at java.lang.String.charAt(String.java:658)
at com.astrazeneca.vardict.VarDict.modifyCigar(VarDict.java:6065)
at com.astrazeneca.vardict.VarDict.parseSAM(VarDict.java:1529)
at com.astrazeneca.vardict.VarDict.toVars(VarDict.java:2515)
at com.astrazene

[2015-04-23 18:14] ltfang-bina commented on #7
I've uploaded the files onto the Google Drive:
https://drive.google.com/folderview?id=0B9pfRlnkG-Z7flIwMExkSjVWRllybmgzUHcxWGJLWmRsR0hzckhmZUJjMk9kX1lMUmZBUVk&usp=sharing

The data a tiny region from the DREAM Challenge Stage 3 data (public data).

[2015-04-23 18:16] jabbarish commented on #7
thank you

[2015-04-23 18:17] jabbarish commented on #5
thank you

[2015-04-28 02:20] ltfang-bina opened #8 "-O flag in Java version vs. -Q flag in Perl version"
I noticed that in the Perl version, -Q enforces a minimum mapping quality, but in Java version it's -O.
I'm just wondering if it's intentional, or the tail in Q was accidentally lost to become an O.

[2015-04-28 03:44] zhongwulai commented on #5
Given Brad's description, the problem should be VarDict.java, line 2973, where it should be:

mtch = CARET_ATGNC.match(vn);

CARET_ATGNC should be used, not CARET_ATGC.

[2015-04-28 03:46] zhongwulai commented on #6
Li Tai,

It might be the same problem that we discussed, where a read is aligned in a stretch of Ns.  Can you check whether it's the case?  You can send BAM files through email.  1.5 MB should be OK.

Thanks,
Zhongwu

[2015-04-28 14:43] jabbarish commented on #8
Hi!  Perl version contains both.  So does Java version too.
-Q INT
       If set, reads with mapping quality less than INT will be filtered and ignored
 -O MapQ
       The reads should have at least mean MapQ to be considered a valid variant. Default: no filtering

But you are right in the fact that Java version doesn't count -Q,  simply ignores it. This is due to accidentally omitted code portion

[2015-05-01 15:03] chapmanb commented on #5
Thanks much for the fix. I re-ran a whole genome validation of VarDictJava with the latest release (1.2.4) and all looks great. It runs without any problems, the accuracy is comparable to VarDict and it's much faster:

http://imgur.com/a/cCxcQ

Thanks for all the work on this.

[2015-05-01 15:03] #5 closed

[2015-05-06 18:17] alphabdiallo opened #10 "-th option"
Hello,
I just downloaded VarDictJava but I do not see the -th option as mentionned in the documentation.

Thanks,

[2015-05-11 18:51] ltfang-bina opened #11 "Exception in thread "main" java.lang.IllegalArgumentException: Malformed CIGAR string: 66S-3M38S"
This error occurs on HCC1143 data downloaded from CGHUB.
The analysis_id or uuid is:
c727c60e-8ddd-1ddc-e040-ad451e414a77 for tumor
c727c60e-95b8-1455-e040-ad451e414a79 for normal

I stored the truncated BAM files that can reproduce the error in Google Drive:
https://drive.google.com/folderview?id=0B9pfRlnkG-Z7fngxOWtXV05FWG52SU5oMEUzcklMdmFtQVk3V3FDWm1ubk05TDJvX3F6N2s

VarDict -G genome.GRCh37.fa

[2015-05-12 11:16] jabbarish commented on #10
Hello,

Could you clarify, where are you searching for it? You just need to add the option to a command line when running VardDictJava.  If you would run VarDictJava without any parameters, you will see the list of options, including -th

[2015-05-12 11:18] jabbarish commented on #11
Thank you.  We will try to figure out what is causing it.

[2015-05-15 10:15] chapmanb opened #12 "Improving memory usage for longer regions"
We've been testing VarDictJava on whole genome analyses chunked into analyzable sections. We typically break up the genome at natural breakpoints without coverage to avoid accidentally splitting an analysis across a larger indel or multi-nucleotide change.

This works for 99% of cases but we end up with some regions where we have slightly larger regions (2-5Mb) that cause out of memory errors with

[2015-05-15 14:29] zhongwulai commented on #12
Hi Brad,
Thanks for the feedback.  It would require some substantial redesign of the algorithm, which I haven't had a clear idea.  The current algorithm uses memory proportionally to the BED segment sizes.  As the only potential problem chopping segments is losing the indels spanning the boundary, I think it's probably better to create overlapping (>150bp) segments (<1Mb) for now.  That's typicall

[2015-05-16 10:05] chapmanb commented on #12
Zhongwu;
Thanks for the feedback, knowing about removing redundant variants is very helpful and I added in overlapping windows to avoid missing variants at junction points. Thanks again for all the development work on this.

[2015-05-18 01:10] zhongwulai commented on #7
Hi Li Tai,

I seriously think there's a bug in your alignment process.  The problem is caused again by an illegal alignment with CIGAR 66S2M19I14S, which indicates there're only 2bp reference matches in the alignment.  19bp insertion followed by 14bp soft clipping doesn't make sense.  When you look at the alignment, neither of 2bp matches to reference.  I haven't seen BWA making such alignment in

[2015-05-18 04:10] ltfang-bina commented on #7
Hi Zhongwu,

Thanks for digging into this.

Are you specifically talking about this issue I posted on github here:
https://github.com/AstraZeneca-NGS/VarDictJava/issues/11
In this case, the BAM files were downloaded directly from CGHUB, and
according to the BAM header it was by BWA 0.5.9 and GATK IndelRealignment.
We did not create these BAM files.

If you were talking about the previous set of da

[2015-06-01 08:14] mjafin opened #13 "Exception in thread "main" htsjdk.samtools.SAMFormatException: SAM validation error: ERROR: Record 8137, Read name 0801tcm7, MAPQ should be 0 for unmapped read."
Hi there,
I'm getting an error from samtools:
[code]
It seems to be related to poor alignments by bwa (aln), see section here http://broadinstitute.github.io/picard/faq.html

Q: Why am I getting errors from Picard like "MAPQ should be 0 for unmapped read" or "CIGAR should have zero elements for unmapped read?"
...

I can't seem to be able to copy the answer, but in Picard it's possible to relax th

[2015-06-03 15:29] vkirst commented on #13
Hi Miika,

Htsjdk library reads and validates record from BAM(SAM) files alike Picard Tools. There are 3 ways of error message interpretation: STRICT(by default), LENIENT and SILENT.

STRICT - stops the process by first error message
LENIENT - outputs all error messages to STDERR(does not stop the process)
SILENT - ignores all error messages.

We could  add a command-line option for that.   In thi

[2015-06-03 18:15] mjafin commented on #13
Good points, thanks. Maybe `LENIENT` would be nicer here. I have the data on our US system and we could probably hand it over to you but I will be out of office until Monday next week. Would it be a massive problem to implement the above optionality? I would imagine VarDict Perl to just ignore any warnings from samtools regarding poor alignments.

[2015-06-08 09:47] chapmanb opened #14 "CIGAR string parsing issues with alignments from bwa mem 0.7.12"
Viktor and Zaal;
While running additional whole genome testing with VarDictJava, we ran into two issues parsing
CIGAR strings. These are both with alignment output from the latest bwa (bwa mem 0.7.12).

I put together a reproducible test case here with the two failures (and also the VarDict perl comparisons). You should only need to adjust the path to the GRCh37 reference genome to run the shell s

[2015-06-08 16:39] borodini commented on #14
Please verify last VarDictJava release: https://github.com/AstraZeneca-NGS/VarDictJava/releases/tag/v1.3.0 There is a hope that the issues are fixed

[2015-06-08 17:47] zhongwulai commented on #14
Brad, it's likely you're not using the latest version.  My test of Perl version didn't produce any warning, and no calls.

[2015-06-09 09:54] chapmanb commented on #14
Thanks so much for the new release and quick responses. Apologies, I was unlucky to be debugging this right before the latest Java release (and updating VarDict to match). Things do work cleanly with the test case using the updated versions. Great work on anticipating my report. Thanks again.

[2015-06-09 09:54] #14 closed

[2015-06-15 23:50] ltfang-bina opened #15 "Error when local realignment is turned off:"
This produces an error (used -k 0 to turn off local realignment):
VarDict -G human_g1k_v37_decoy.fasta -f 0.01 -h -b 'tumor.k.bam|normal.k.bam' -k 0 -Q 1 -c 1 -S 2 -E 3 -g 4 1.k.bed

The error message is:
Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: 101
	at java.lang.String.charAt(String.java:658)
	at com.astrazeneca.vardict.VarDict.parseSAM(VarD

[2015-06-17 14:53] vkirst commented on #15
It looks like the problem is in the original algorithm.

stderr out from perl-script:

`substr outside of string at ./vardict.pl line 1186, <SAM> line 1159.
Use of uninitialized value $s in string eq at ./vardict.pl line 1187, <SAM> line 1159.
substr outside of string at ./vardict.pl line 1191, <SAM> line 1159.
Use of uninitialized value in ord at ./vardict.pl line 1191, <SAM> line 1159.
substr ou

[2015-06-18 03:37] zhongwulai commented on #15
For some reason, I couldn't download the bam files.  Other files are fine, including index .bai files.  Can you send bam files to me directly if they're not too big?

[2015-06-18 03:41] ltfang-bina commented on #15
Yep, here you go.

Thanks.

*-- Li Tai Fang, PhD  *//  Bioinformatics Scientist, Bina Technologies,
part of Roche Sequencing

E. ltfang@bina.com   //   Tel. +1.650.779.4564

*Learn More*  //  video <http://www.bina.com/product.html>  //  news
<http://www.bina.com/press-coverage.html>  //  posters
<http://info.bina.com/posters>  //  science
<http://www.bina.com/science.html>  //  platform
<http://w

[2015-06-18 17:02] zhongwulai commented on #15
I don't see the substr outside of string warning message in the latest Perl version.  I got a different benign warning that's specific in paired mode, which can be easily fixed with one line of code.  Can you take a look again at Java version?  I'll have a push with some updates on realignment at >= 3 MNP.  This example has 4 MNP.

[2015-06-19 11:49] vkirst commented on #15
I pulled the last perl version and was able to reproduce the issue using ‘-k 0’ option.

[2015-06-19 19:52] zhongwulai commented on #15
OK, found the bug.  Need to move line 968 '$ci +=4;' below line 973.  $ci got incremented one step too early.

I also made a few updates to prevent local realignment altogether, as there're still a few places performing such tasks even with '-k 0'.

[2015-06-22 06:14] landesfeind opened #16 "Filtering insertions in homopolymer regions"
Hi,

utilizing VarDictJava v1.3 for calling variants from RNA-seq of tumor cells gives me in an unreasonable amount of called insertions (> 5500 on the whole genome). I had a closer look on some of the suspicious inserts and they seem to be called at positions where a homopolymer of 6 or more equal nucleotides start. At these positions, most reads align perfectly with the reference sequence. Howev

[2015-06-22 07:56] landesfeind commented on #16
PS: I had a closer look on some of the suspicious inserts. They seem to be called at positions where a repeat of 6 or more equal nucleotides start, see
![visualization snapshort](https://cloud.githubusercontent.com/assets/1049501/8277546/363babc4-18c4-11e5-977e-2fa0df9660f5.png)

At the provided example, all(!) reads align perfectly with the reference sequence. Nonetheless, VarDictJava calls an in

[2015-06-24 09:07] mjafin commented on #16
Hi @landesfeind,
Thanks for pointing out the issue. I'm certain Zhongwu will look into this ASAP but he is currently on holiday for a few weeks.

[2015-06-26 10:36] landesfeind opened #17 "Discrepancy between -q threshold and reported QMean value"
Hi,
VarDict v1.3 does not call an SNV for which there seems to be a pileup due to low base quality, which is fine in general. However, there is a discrepancy between the filtering (`-q 24` or `-q 25`) and the reported QMean value (27.3) which I believe to be the corresponding value in the output:

[code]

I did not calculate the mean quality by my self but you can probably have a look at this none

[2015-07-01 09:52] landesfeind commented on #16
I filtered for insertions preceding homopolymer regions. But, I am still suspicious about a large number of insertions because ~70% are within a 4bp of an exon start or end. Is it possible to report if an insertion is called from reads which have a long stretch of N's after the insertion? This would probably be analogous to the PMEAN value and of great help for users of VarDict

[2015-08-11 15:14] chapmanb opened #18 "Incorrect columns for variants at first position of a chromosome"
Victor and Zaal;
We ran into an edge case issue with variants at the first position of a chromosome. In these cases, VarDictJava produces a truncated output file with 33 columns instead of 34, resulting in failures from teststrandbias.R when filtering and converting to VCF. The perl VarDict complains with a number of errors but produces reasonable output and continues.

I put together a reproducib

[2015-09-04 21:18] ltfang-bina opened #20 ""start point 90355650 lies after end point 90354753""
Actually it's a wrong region that has gone beyond the reference..... maybe this is the intended behavior?
The program exits when it runs into it, although the Perl version runs through it.

---------------------------------------------------
Exception in thread "main" htsjdk.samtools.SAMException: Malformed query; start point 90355650 lies after end point 90354753
	at htsjdk.samtools.reference.Ind

[2015-10-14 13:14] dh10 commented on #7
The BAMs producing this error on our end are realigned with Abra (https://github.com/mozack/abra) after BWA MEM ...

[2015-11-17 09:37] mjafin opened #21 "'nu' inserted into sequence in VarDict Java"
Hi there,
Could I ask you to look (as a priority item where possible) into fixing a bug that enters `nu` into the sequence:
[code]
The first variant is from Java and the second the same one in Perl.

I can provide you a test case if you let me know where to put it (box, email, it's about 70MB)

[2015-11-30 10:22] #21 closed

[2015-11-30 10:22] #13 closed

[2015-11-30 10:24] mjafin opened #22 "Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: 0"
Hi there,
I'm calling variants in hg38 and am getting this error:
[code]
This is in the chrUn_GL000216v2 contig that is fairly short (0-176608). I can provide you the data via Box again when you have time to pick this up.

Thanks,
Miika

[2015-11-30 10:31] chapmanb commented on #22
Miika;
It sounds like this might be the same as the issue in this PR: https://github.com/AstraZeneca-NGS/VarDictJava/pull/19 It's a small fix but hadn't gotten pulled into main and a release yet, as far as I know.

[2015-11-30 11:47] mjafin commented on #22
Brad, thanks, well spotted! I'll flag these up with EPAM and will follow up properly

[2015-12-03 15:27] inti opened #23 "using more CPU than given by -th 4"
Hi,
with the following command line

[code]
I am getting vardict-java using more than 4 CPUs.

I have come across similar issue with GATK before and I seem to remember the solution was to set the JVM option -XX:ParallelGCThreads=, http://gatkforums.broadinstitute.org/discussion/1975/how-can-i-use-parallelism-to-make-gatk-tools-run-faster

Is there any chance verdict-java would set the number threa

[2015-12-04 15:03] mjafin commented on #22
This issue seems to have been solved now, thanks! I'll reopen if I come across it again.

[2015-12-04 15:03] #22 closed

[2015-12-18 21:22] rhshah commented on #7
Has this issue been resolved, i get similar error:
Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: -1
	at java.lang.String.charAt(String.java:658)
	at com.astrazeneca.vardict.VarDict.parseSAM(VarDict.java:1927)
	at com.astrazeneca.vardict.VarDict.toVars(VarDict.java:2537)
	at com.astrazeneca.vardict.VarDict.vardictNotParallel(VarDict.java:304)
	at c

[2015-12-19 17:23] mjafin commented on #7
Hi @rhshah, Based on the above discussion it sounds like these may be caused by improper alignments/CIGAR strings. If you can identify the exact region and reads that cause this then you could take a look how the (re)alignments look like (maybe your problem is caused by something else). Our aim is to support bwa alignments and utilise VarDict's built-in realignment; it will be very difficult to fo

[2015-12-21 16:47] rhshah commented on #7
Hi @mjafin  thanks for you reply i appreciate, but I ran the same bam file for the perl version and it ran without any issue, though looks like it took lot of time to finish.

I am not sure if I would be able to pin point where its happening but its always stops after this co-ordinate => 1:156452350, as VarDict does not output the any other information its hard to tell where exactly this might be

[2015-12-21 20:19] mjafin commented on #7
Hi @rhshah, we've seen this quite often that the perl version doesn't die but Java does as perl isn't as bothered about "illegal" operations (like nonexisting variables etc.) If you could identify the exact region and slice your bam file in that region for us we could maybe take a look.

[2015-12-21 21:05] rhshah commented on #7
Thanks @mjafin, I have pinpointed the region where this is happening its in a gene called SDHA, attaching the file here.
[VardicTestBamFile.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/68979/VardicTestBamFile.zip)

[2015-12-22 06:33] mjafin commented on #7
Thanks @rhshah. I'm off until January but was wondering if @jabbarish or @zhongwulai were still in office? If not, bear with us

[2015-12-22 20:21] rhshah commented on #7
Sure no issues, will be great to know if it is fixable.

[2015-12-22 20:24] jabbarish commented on #7
Hi!  We will try to find out what can be done to fix it.  I'll write back on thursday of friday.

[2015-12-22 23:46] rhshah commented on #7
Thanks @jabbarish

[2015-12-25 15:10] jabbarish commented on #7
The issue appears when a CIGAR filed of a read starts with deletion, for example “1D100M”.

According to the current algorithm, the quality value for deletion is taken from the previous position: q1 = queryQuality.charAt(n-1), where n  is the index of the current position. If deletion is in the first position, we have n = 0 and thus we are trying to get the ‘-1’ position of quality string. In Java

[2015-12-28 19:25] rhshah commented on #7
Thanks @jabbarish for looking into this, will appreciate if you lets us know when you update the codebase.

[2016-01-05 17:17] mjafin commented on #7
I think we need @zhongwulai to make a design decision here as this is a problem in both code bases.

[2016-01-29 08:45] mortunco opened #24 "VarDictJava instillation problem Execution failed for task ':javadoc'."
Hi,
I am getting an error in the second step of the instillation of the vardictjava. Could you help me to solve this problem ?

My java version is 1.8.0_71

Thanks

[code]

[2016-01-29 08:48] mjafin commented on #24
Hi @mortunco, thanks for your interest in VarDict. Have you tried using the build we have in the releases (instead of building yourself)?

[2016-01-29 08:51] mortunco commented on #24
No, I just followed the steps in the instillation part.
[code]

[2016-01-29 13:47] mjafin commented on #24
You can find builds here https://github.com/AstraZeneca-NGS/VarDictJava/releases

[2016-01-30 21:47] jabbarish commented on #24
the issue is fixed. Check it, please.

[2016-01-31 12:49] mortunco commented on #24
@jabbarish  Thank you for your help. As I can see from the folder content. Is this the only folder that I need or should I move it into the VarDictJava folder? Because I couldnt find testsomtic.R in it.

Thanks again.

[2016-01-31 14:44] mortunco opened #25 "about bed file input + running VarDictJava"
Hi again,

Thank you for your previous fast response. It helped me a lot. I believe there is a problem with my mutation calling process.

I started running with this command.

[code]
My bed input is a typical bed format. However, I am calling my mutations based on a chip-seq bed file therefore I have peak names instead of gene names.

chr6	51217257	51217593	tumor_high_1802	523.998413
chr7	66969316

[2016-02-11 15:54] chapmanb commented on #7
@mjafin, @zhongwulai @jabbarish -- folks are running into this bug and I wonder if it's possible to get a fix in place and roll a new release (chapmanb/bcbio-nextgen#1225). My suggestion would be to pick the quality value of the next base after the deletion, or use a default quality like 30. Since the current behavior of wrapping around the sequence isn't correct I don't think we're entering very

[2016-02-11 15:56] mjafin commented on #7
@jabbarish would you be able to implement this if @zhongwulai has no objections? Zhongwu you may want to implement something similar in Perl just to keep things in sync.

[2016-02-12 15:27] jabbarish commented on #7
@mjafin sure, we are ready.  Shall we do it now or  wait for @zhongwulai to confirm the prosposed aproach?

[2016-02-13 20:22] chapmanb opened #26 "Missing heterogenous deletion"
@zhongwulai and all;
@ohofmann ran into a variant calling case where VarDict appears to be missing a real indel. Running FreeBayes on the same region results in a deletion call with high depth and a clear separation between tumor (first sample) and normal (second):
[code]
The read support looks reasonable in terms of strand and positioning, so I couldn't identify an obvious reason why VarDict skip

[2016-02-15 04:02] msheimlich commented on #26
Hi Brad and Zhongwu.

Would you know if there is a difference between the Java and Perl versions
missing this?

Thanks.
Michael
On Feb 13, 2016 15:22, "Brad Chapman" <notifications@github.com> wrote:

[2016-02-15 10:52] chapmanb commented on #26
Michael -- the Java and Perl versions are the same. Both don't return any output on the test case. Thanks much for looking at this.

[2016-02-16 08:35] mjafin commented on #7
Zhongwu seems to be off until Weds, let's give him a few days to check this thread and then move forward with the proposed fix.

[2016-02-16 08:51] sluke123 opened #27 "Oncofuse error"
I have an error running bcbio 0.9.5 for RNA-Seq, when including Oncofuse in the pipeline. The error is
_Could not find java jar Oncofuse in /apps/bcbio-nextgen/0.9.5/rhel6-x64/share/java/oncofuse _
It seems the Oncofuse file is in /apps/bcbio-nextgen/0.9.5/rhel6-x64/bin/oncofuse and not in java share.
Please can you investigate?
Thanks.

[2016-02-16 08:52] sluke123 commented on #27
Sorry, closing - posted in wrong thread.

[2016-02-16 08:52] #27 closed

[2016-02-17 21:12] zhongwulai commented on #26
Hi Oliver and Brad,

Thanks for the feedback and example.

The deletion can be called in single sample mode, but not called in paired mode.

I dig into a bit, and found that it's filtered out in the combined analysis step.  This step is meant to identify potential false positives for Indels. In this step, two bam files are artificially merged and variants is called as if it's a single sample.  If

[2016-02-18 01:55] chapmanb commented on #26
Zhongwu;
Thanks for the detailed summary, that helps a lot. I can see how this could trigger an issue for het indels that are not present in the normal at all, since any changes would result in the indel being lost. If it provides value in some cases where you're filtering, I wonder if it would make sense to have this be a less strict cutoff to not remove it entirely. Right now you have `vref.cov

[2016-02-18 16:06] zhongwulai commented on #7
OK, I think this is more aligner bug.  Many of clauses in VarDict are dedicated to fix such bugs.  The better fix is to fix the CIGAR.  I would add following before line 685 in Perl version:

            $a[5] =~ s/^\d+D//;
            $a[5] =~ s/\dD$//;
            $a[5] =~ s/^(\d+)I/\1S/ );
            $a[5] =~ s/(\d+)I$/\1S/ );

-Zhongwu

[2016-02-18 17:09] mjafin commented on #7
@jabbarish Zhongwu pushed this fix into Github, maybe you could follow with the Java version?

[2016-02-18 19:19] zhongwulai commented on #7
I've push an updated Perl version into github, it also fixes issue #26, where an indel with microhomology can sometimes be missed in pair mode.

[2016-02-18 19:39] mjafin commented on #7
Would be cool to get these both into the Java version and push out a new release.

[2016-02-19 15:03] jabbarish commented on #7
@mjafin We are going to make new release with the fixes by Monday.

[2016-02-19 18:15] inti opened #28 "Ignoring SAM validation error"
Hello,
I am getting this error when running verdict-java on alignments from RNA-seq. The alignments were generated by the following command line
[code]
The error message is
[code]
And the information on the bam file for that read is the following
[code]
and chromosomes sizes are
[code]

is this the same problem reported in https://github.com/AstraZeneca-NGS/VarDictJava/issues/7?

Thanks in advance

[2016-02-22 08:36] mjafin commented on #28
Hi @inti it does look very similar. Once the new release is out please try it out first and if you still get the error let us know.

[2016-02-25 11:30] mortunco commented on #25
Still no idea about my problem ?

[2016-02-25 16:52] mjafin commented on #25
Hi @mortunco, apologies, this escaped our attention. The fourth column isn't really used much in variant calling so doesn't matter what's in there. The warning about the bam index is probably fine. You could regenerate a new one using `tabix` if you don't want to see the warning.

As for the vcf yes it should be growing as variants are found. However, please use `var2vcf_paired.pl` instead of `var

[2016-02-25 17:50] jabbarish opened #29 "Version 1.4.5.beta - fix for issues #7 and #26"
Applied changes from 'ccb858dbcc4d279b6cdfa5983eba4f135fc63d04' revision of perl version (fixed issues 7, 26)

Due to discovered diffs in results of perl and java version on some data files, we are placing here binaries for tests.
[VarDict-1.4.5.beta.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/147038/VarDict-1.4.5.beta.zip)

[2016-02-26 21:09] rhshah opened #30 "Feature Request"
Thanks again for being so responsive, It will be great if you guys could add the ability to genotype other samples from the vcf output of VarDict, especially for the merged variants.

[2016-02-28 14:48] mjafin commented on #30
Hi @rhshah do you mean like taking a vcf and genotyping another sample in the same loci? Kind of squaring off? Or are you trying to restrict calling to variants in vcf to perform fingerprinting or similar?

[2016-02-28 15:23] rhshah commented on #30
Thanks @mjafin  for your response, yes i meant taking the a vcf and genotyping another sample in the same loci.

[2016-02-28 19:46] mjafin commented on #30
@rhshah I think what you describe can be implemented in a few ways. You could always convert your vcf to a bed file and use that in calling in another sample. There is also an extra option in VarDict for reporting depth at all loci regardless of variant support, see https://github.com/AstraZeneca-NGS/VarDict/blob/master/vardict.pl#L2762. If this helps (or doesn't) let us know

[2016-02-29 10:43] mortunco commented on #25
Hi @mjafin  Thank you for your response. I would like to ask you that, can I get around this bed input? I have called mutation with different callers without any bed input and for the consistency, I would like to call mutations with VarDict like I called mutations with others. Is this possible ?
Thanks

[2016-02-29 11:16] mjafin commented on #25
Hi @mortunco unfortunately for VarDict we do currently require a bed file. What you could do is take the full chromosome regions from your `my_genome.fa.fai` file and drop them into bed file(s) (bearing in mind bed is 0-based, end-exclusive). Do you reckon this would be an OK solution for you?

[2016-03-03 11:16] chapmanb commented on #29
Thanks for adding the new versions. I did whole genome validations of 1.4.5.beta against the DREAM synthetic 4 dataset and the results look good and are in line with previous versions. I'd suggest rolling a new official release with these fixes as long as @mjafin and @zhongwulai agree. Thanks again for all the work.

[2016-03-03 11:18] mjafin commented on #29
+1 for that

[2016-03-06 08:44] hongenxu opened #31 "-k 0 to turn off local realignment and speed up"
I am working with chicken genomes and there are many contigs cannot placed on the chromosomes. When I used vardict to call SNVs and indels in those contigs, vardict need more time (at least 5 times more than other chromosomes). I have followed GATK best practice to map reads to genome and done indel realignment. My questions are since I already did indel realignment, can I turn off local realignme

[2016-03-07 13:02] mjafin commented on #31
Hi @hongenxu, thanks for your interest in VarDict. I'd rely on @zhongwulai chiming in here as he wrote VarDict but I would imagine switching off local realignment would speed VarDict up. You could test this with one of your samples yourself obviously.

Gatk InDel realignment is largely unnecessary and also not recommended to be used with VarDict as it can sometimes produce improper alignments that

[2016-03-07 13:03] mjafin commented on #24
I'm closing this issue, @mortunco let us know if your problem didn't get resolved.

[2016-03-07 13:03] #24 closed

[2016-03-07 13:04] #25 closed

[2016-03-07 13:06] mjafin commented on #23
@jabbarish do you have any comments for this issue? I think we want to avoid intrinsically setting these Java settings and enable pipeline folks to make their minds up like in bcbio I think

[2016-03-07 13:07] mjafin commented on #18
Brad did this get fixed?

[2016-03-07 13:07] #18 closed

[2016-03-07 13:09] #15 closed

[2016-03-07 13:09] #12 closed

[2016-03-07 13:09] #11 closed

[2016-03-07 13:10] #10 closed

[2016-03-07 13:10] #8 closed

[2016-03-07 13:10] #7 closed

[2016-03-07 13:46] chapmanb commented on #18
Yes, thanks Miika. Thanks for the issue cleanup and apologies for not closing this earlier.

[2016-03-07 21:28] zhongwulai commented on #31
Hi @hongenxu, the local realignment shouldn't have significant impact on speed (<10%).  VarDict's local realignment algorithm is different from GATK and is typically still recommended for Illumina.  I would only turn it off for Ion or PacBio.  So I would be surprised if turning off (-k 0) makes 5 times difference.  The running speed is linear to chromosome size and depth of coverage.  Can you chec

[2016-03-07 22:58] hongenxu commented on #31
@mjafin and @zhongwulai, many  thanks for your help.
@zhongwulai, those contigs are contigs cannot placed on chicken chromosomes, and have much higher repeat content (45% repeat content vs 16% genome-wide average). Can it explain the 5 time difference between turning on and turning off local realignment for those contigs? There seems no big difference when I turn on or off local realignment for ot

[2016-03-08 15:26] mjafin commented on #31
If they are very high repeat content regions would you consider not calling variants in them? You're likely just getting a lot of noise out

[2016-03-08 18:34] hongenxu commented on #31
@mjafin, Thanks for your reply. We just keep calling variants in those contigs the same as we did using other softwares, such as mutect, muse, varscan2. We next use somaticseq to remove false positives.

[2016-03-08 19:39] jabbarish commented on #23
@mjafin we will check it tomorrow and I will write back.

[2016-03-09 21:36] mortunco opened #32 "Ignoring SAM validation error + memory error"
Hi,

I ran VarDictJava with the following code. Since I aimed to call mutations across the genome, I used the hg19_15k_150bpOL_.seg.txt file which I believe contained a regions across the genome with 5k bp intervals. Program had been running almost more than a day( I know that this depends on the hardware) I got an error says about I got out of memory.

When I got checked the last couple lines, I

[2016-03-09 21:47] mortunco commented on #32
My Specs are
Memory= 7.7 gb ram
Processor= Intel Core i7-5600U CPU@ 2.60 GHz x 4
Os type 64 bit
Disk 487.3 Gb

[2016-03-10 08:15] mjafin commented on #32
Hi @mortunco,
I don't know the exact reason for the failure, but running VarDict in single thread for the whole genome on what I presume to be a desktop computer will take a very, very long time.

Do you have access to a compute cluster by any chance? VarDict has been incorporated in bcbio (https://github.com/chapmanb/bcbio-nextgen) in a smartly parallel manner, where bcbio takes care of all the p

[2016-03-10 16:49] mortunco commented on #32
@mjafin , I tried to ran the command with an bed file that contains only single interval of 5k bp. It worked fine.

I will try to run this command with separating my whole genome data to chromosomes. Also referring to that bed file which is located in the verdict, i will perform the same process to the chromosomes of that bed file.

Is there anything That I can do ?

Vardict output is very importa

[2016-03-10 17:36] mjafin commented on #32
Parallelisation is very important and you will want to split the regions to multiple vardict runs. As I mentioned, this is easiest done by resorting to a pipeline like bcbio.

[2016-03-10 17:58] malperovich commented on #23
Hi @inti ,
Could you please share (a part of) your regions.bed file?
We need it to find out the reason of using more CPUs.

[2016-03-10 18:06] inti commented on #23
Hi,
yes I can but it for a non-human genome, Populus trichocarpa. So if you need to run anything you will also need the ref genome and so on. attached is an example.

thanks a lot

[2016-03-10 18:09] inti commented on #23
Sorry. bed file is here https://gist.github.com/inti/5c45d924a37611a6ebc9

[2016-03-11 11:21] mortunco commented on #32
Okay. I will try to set up bcbio. Would you please help me out with error at below while I am dealing with bcbio?

Thanks in advance!

Tunc

[code]

[2016-03-11 15:26] mjafin commented on #32
I have never seen this error before but I suspect it has something to do with your machine running out of memory. I would urge you to perform the variant calling on a compute cluster with sufficient memory on the nodes.

[2016-03-15 17:07] malperovich commented on #23
@inti , we have explored all the possible solutions and have to say, that we can't limit the number of GC threads within Java code.
The option "th" sets the number of threads for parallel calculation but this option is not applied to the GC process. To limit the number of GC threads you only can use -XX:ParallelGCThreads=<number>. By default, the number of threads is some subset of the number of p

[2016-03-16 23:32] smboyle opened #33 "VardictJava Reproducibly Breaking At Specific RNA Recal/Realigned Bam Regions"
Hello,

I have been trying to apply the java version of your verdict program on a set of tumor/normal samples that have been modified according to GATK best practices for RNA (Recal, Realign, dedup, etc.).

The samples run correctly for the perl version of your pipeline, however, they are breaking at very specific regions in the recal realigned bam file.  For example, it breaks in all samples at t

[2016-03-17 00:44] smboyle commented on #33
Also, I am using the most recent git build with last commit:
9e0365e (HEAD, v1.4.5, origin/master, origin/HEAD, master) Version 1.4.5 prepared

[2016-03-17 08:18] mjafin commented on #33
Hi @smboyle, thanks for the bug report and sorry about the issue. Before we start digging into the bug, can I ask if you've tried running the same region in the raw bam file without any of the Gatk tools? We recommend not using any Gatk tools like recalibration, realignment and especially not the spliced alignment splitting tool.

[2016-03-17 15:32] smboyle commented on #33
Hello @mjafin: Thank you for the quick response.  This is very helpful, as we thought it would be best to perform these operations.  Does Verdict perform these (or similar) operations itself?  I have only tried the raw star aligned bam for a few of these cases, but in those instances I did not observe the errors.  We will go forward in this direction and I will let you know if we see any other err

[2016-03-17 16:15] mjafin commented on #33
@smboyle if you have fairly recently generated data I don't see any reason to use BQSR. VarDict performs realignment around indels intrinsically so no need for Gatk realignment either. Regarding marking duplicates, I'm not sure what people usually do with RNA-seq data. We mark duplicates in DNA hybrid capture and WGS but haven't been marking in RNA-seq. Using Picard or samblaster would do the job

[2016-03-22 21:16] mortunco commented on #32
Hi,@mjafin;

Thank you for suggesting me bcbio it really illuminated my in terms of its capabilities. I have a question related with using verdict in bcbio. As it is required in vardict, should I specify a bed file? Because I would to call mutations genome wide. I could not find any specific information related regions. There is only a single point which I can define regions with a bed file. [here

[2016-03-30 06:47] mortunco commented on #32
Dear @mjafin;

I would like to know if there is an update in this topic.

Thanks in advance,

Tunc.

[2016-03-30 11:01] mjafin commented on #32
Hi @mortunco, apologies for the delay. If you specify no `variant_regions` in bcbio then it estimates callable regions based on depth and uses those as the bed file (of sorts). This works for whole genomes.

[2016-03-30 11:12] mortunco commented on #32
Dear @mjafin;
THIS GAVE ME A BIG RELIEF. As you may know these regions were the biggest problems while running it locally.

Thank you very much for your response.

Best,

Tunc.

[2016-03-30 11:12] #32 closed

[2016-04-04 08:20] mortunco opened #34 "Bcbio Vardict 1.4.5 Exception in thread "main" java.lang.StringIndexOutOfBoundsException:"
Hi,

I am trying to call somatic mutations using vardict with bcbio pipeline system. I came across with this error during the process. Even though it has called mutations for chr 1-15, i dont know what might have caused this error. I also checked the closed answers but i couldnt find and answer. It was concluded that new version was released.

Thank you for your help,

Best,

Tunc.

My vardict ver

[2016-04-04 08:23] mjafin commented on #33
@smboyle I'll close this issue but if you encounter problems with raw STAR bam files let us know and we'll investigate further.

[2016-04-04 08:23] #33 closed

[2016-04-04 08:24] mjafin commented on #34
Related https://github.com/chapmanb/bcbio-nextgen/issues/1300

[2016-04-06 11:09] #31 closed

[2016-04-06 13:45] tfenne commented on #34
I'm seeing the same error running VarDict 1.4.5.  I modified the VarDict source to spit out the read name and cigar string of the read it was processing when the exception occurred, and in my case the read's cigar started with an insertion operator (e.g. `2I98M`).  That's technically valid SAM - it's just unusual, and I suspect that's what's causing the problem.

My solution is to avoid running th

[2016-04-07 15:09] chapmanb commented on #34
Tim -- thanks so much for identifying the underlying issue. Would it be possible to generate a minimal test case with a problem record? Miika and Zhongwu, it would be great to handle this in VarDict as well. Not using realigner is a workaround but frustrating to end users and not ideal as some people just like to realign. If it's a hard problem to fix we can re-evaluate a workaround in bcbio. Than

[2016-04-08 20:58] ssaif opened #35 "Post processing Germline projects"
Hi Vlad,

I would like to run all but the 'Variants' step in post processing for this project, /ngs/oncology/analysis/dev/Dev_0192_HiSeq4000_NormPlasma_WGS/bcbio/final, which has normal-only samples. I commented out the 'Variants' step in the config/run_info.yaml and it ran Seq2C and TargQC but not the full project report. Is there a way to do that? The script is not finding final/sample/*vardict.

[2016-04-09 10:43] vladsaveliev commented on #35
Hi Sakina, why did you create this issue in VarDictJava repository, not Reporting_Suite?

It should run Seq2C and TargQC even if no VCFs were found. I'll take a look when we got the systems up again. By the way, datestamp/var/raw/*batch-vardict.vcf is where post-processing looks for VCFs. But not for normals - it doesn't expect to see batch VCFs for normal samples.

Post-processing with default pa

[2016-04-09 10:49] vladsaveliev commented on #35
Just checked - the TargQC and Seq2C were generated.

Post-processing has interrupted in the end because it did find only normals, and could not generate NGS reports; it'll make it work with only normals.

[2016-04-17 10:31] mortunco commented on #34
Dear @mjafin;

I tried to ran what you asked from me with the followed configuration file. Apparently there is a problem with bra right now. Because I couldnt even get to the vardict process initiation.

I think we should be advised to @chapmanb  about BWA error ?

Thanks all for the time and answer,

Best,

Tunc.

Configuration file
[code]

bcbio-debug.log
[code]

[2016-04-17 18:12] chapmanb commented on #34
Tunc;
Sorry about the running issues. This looks like something is wrong with this alignment output file from bcbio:
[code]
since indexing on it failed. It's tough to guess what happened with this information but the things I'd try to debug would be:

1. Try re-running in place to see if it was a read issue and things progress cleanly.
2. If that fails, try removing the problem BAM files and re-ru

[2016-04-17 18:16] mortunco commented on #34
Hi Brad;

Thank you for the fast answer. I need to ask couple things to clarify;

1.Did you mean re run by simple, restarting the process. (I think this will continue the process?)
2. Remove that bam from the tmp file and continue like at the 1st advice?

Thanks,

Tunc.

[2016-04-17 19:04] chapmanb commented on #34
Tunc;
You're right on. For 1, just restart which continues where it left off. For 2, do `rm -f /home/ec2-user/puppey/icgc_data/try1/real_deneme/work/align/deneme1_tumor/2_2016-03-24_real_deneme-sort.bam` and re-start. Hope this helps.

[2016-04-27 18:13] sgosline opened #36 "Java version with bed fails where Perl or Java with -R option succeeds"
Hello,

I have been running the Perl version of varDict before I realized I can switch to the Java version. Running nearly identical commands:

`./build/install/VarDict/bin/VarDict -G ucsc.hg19.fasta -f 0.01 -N sampleName -b "../SL107646_rg_ordered.bam|../SL107661_rg_ordered.bam" -z -c 1 -S 2 -E 3 -g 4 /home/ubuntu/VarDict/test.bed`

However, this gives me the following error:
``
Exception in thre

[2016-04-27 18:53] mjafin commented on #36
Hi @sgosline, thanks for your interest in VarDict and thanks for reporting the issue. What does the region look like in the bed (literally)?

I think the `-R` option uses 1-based end-inclusive format whereas bed is 0-based end-exclusive so I wonder if the bed line could be out of whack

[2016-04-27 19:25] sgosline commented on #36
Hello,

You're welcome!

I have toggled the -z function and get the same error.  Here is the test.bed file (I get it from any other region cut from the same larger bed file):

Like I said, it works fine with the perl script!
sara

[2016-04-27 19:37] mjafin commented on #36
Just out of curiosity, are your samples from PCR amplicon based sequencing? The 7th and 8th column have a special purpose for that. If it's not PCR amplicon sequencing could you use `cut -f1-3` on the bed file and see if that works?

[2016-04-27 19:50] sgosline commented on #36
No, I don't need the rest, it was just what came from UCSC.  Cutting the file seems to work, I should have tried that.  I will verify and close the issue (unless you want to alter the code?). Thank you so much for your prompt reply!

[2016-04-27 19:53] mjafin commented on #36
@sgosline sorry about the issue. We didn't foresee someone accidentally using the 7th and 8th column for some other numeric uses in variant calling. They're reserved for "amplicon awareness" in VarDict in PCR amplicon sequencing but it's difficult to tell if the columns are used for something else.

[2016-04-27 19:53] #36 closed

[2016-04-27 20:20] ssaif commented on #35
Linked (moved) this issue here, https://github.com/AstraZeneca-NGS/Reporting_Suite/issues/52

[2016-04-27 20:20] #35 closed

[2016-05-06 22:25] haseley opened #37 "VarDict producing illegal CIGAR strings in modifyCigar method and crashing"
Hello,

When processing the attached bam (contains a single well-formatted read), using hg38 as a reference, VarDict produces a malformed cigar string with a negative number, causing samtools to throw an illegal argument exception.

java.util.concurrent.ExecutionException: java.lang.IllegalArgumentException: Malformed CIGAR string: 3S38M6D-6I115M
	at java.util.concurrent.FutureTask.report(FutureTa

[2016-05-06 22:40] haseley opened #38 "VarDict throws stringIndexOutOfBoundsException"
Hello,

   Sometimes when encountering severely clipped reads VarDict will throw an index out of bounds exception and exit:Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: -1
    at java.lang.String.charAt(String.java:646)
    at com.astrazeneca.vardict.VarDict.isHasAndNotEquals(VarDict.java:4084)
    at com.astrazeneca.vardict.VarDict.modifyCigar(Va

[2016-05-09 06:50] mjafin commented on #37
Hi @haseley sorry about the problem and thanks for reporting this. @jabbarish would you and the team be able to take a look at this when you have the time?

[2016-05-09 06:51] mjafin commented on #38
@zhongwulai and @jabbarish could you look at addressing this problem both in Perl and Java?

[2016-05-09 11:30] jabbarish commented on #37
Hi @mjafin!  Sure. We will reply soon.

[2016-05-09 11:31] jabbarish commented on #38
@mjafin sure.

[2016-05-09 17:12] smboyle opened #39 "VardictJava having extensive runtime on very highly expressed RNA regions"
We are running into cases where VardictJava is taking days to finish running on regions with very high coverage in RNA (highly expressed genes, coverage >700,000x).  Have you worked through similar problems in the past?  Do you have suggestions on how to improve performance on these very deep regions?  Mutect, for example, has an option (dcov) where you can limit the max depth considered by the ca

[2016-05-10 09:21] mjafin commented on #39
Hi @smboyle sorry about the continued problems. We've seen this in some data sets where expression is super high (like insulin in pancreatic islets) but haven't got a direct solution in place right now, apologies for that.

VarDict essentially taps into the samtools API (java htslib if you're using Java VarDict) so we're limited to what `samtools view` offers. Samtools has a downsampling option bu

[2016-05-11 11:35] mjafin commented on #39
@ohofmann just pointed out VariantBam (http://bioinformatics.oxfordjournals.org/content/early/2016/03/15/bioinformatics.btw111) that could be used to cap maximum coverage. @chapmanb mentioned that the code is still very much developmental and segfaults every now and then. Something to look into for us.

[2016-05-13 19:01] rhshah commented on #38
Hello  I am having similar issue,
I assumed these were fixed in 1.45 but looks like not:

java.util.concurrent.ExecutionException: java.util.concurrent.ExecutionException: java.lang.StringIndexOutOfBoundsException: String index out of range: -151
	at java.util.concurrent.FutureTask$Sync.innerGet(FutureTask.java:252)
	at java.util.concurrent.FutureTask.get(FutureTask.java:111)
	at com.astrazeneca.v

[2016-05-13 19:43] jabbarish commented on #38
Java throws an exception in case of the index of an array is less than zero, however Perl doesn't throw anything in such case.
Here is the fresh request by Tim Fennel https://github.com/AstraZeneca-NGS/VarDictJava/pull/40 suggesting an attempt to fix the issue 38.
Let's wait for the comments from @zhongwulai

[2016-05-13 19:45] jabbarish commented on #37
It seems that invalid cigar is produced in the modifyCigar method  in the case of replacement M-D-M-I-M-D complex with M-D-I.   @zhongwulai , please have a look.

[2016-05-13 20:54] rhshah commented on #38
Actually because of your reply I ran it on the Perl Version and it actually fails at the same place giving multiple errors, I am just putting here the uniq list:

substr outside of string at vardict line 1467.
Use of uninitialized value in join or string at vardict line 1466.
Use of uninitialized value in join or string at vardict line 2365.
Use of uninitialized value in join or string at vardict

[2016-05-20 07:09] alexanderwhatley opened #41 "build folder not showing up after running ./gradlew installApp clean"
After running the "./gradlew installApp clean" command, I do not see the build folder anywhere. Gradle reports a successful build however. I suspected the problem could be due to permissions, so I ran chmod 760 * in the directory the vardict folder is in to no avail. This problem occurs on both my Windows PC and in a server running Centos 6.5. Do you know what the problem could be? Thanks.

[2016-05-20 08:48] mjafin commented on #41
@alexanderwhatley if you want to build VarDictJava yourself @jabbarish might be able to give you pointers to the right direction. May I ask if you have found bugs in the code you are trying to fix? We appreciate pull requests if you want to contribute your changes back.

However we also ship binary releases, which you can find here https://github.com/AstraZeneca-NGS/VarDictJava/releases

[2016-05-20 23:02] aewhatley commented on #41
I found the issue - if the necessary packages have already been installed in the system by gradle, the correct command to run is actually ./gradlew installApp (wthout the clean). Perhaps you should make a note of that in the documentation?

[2016-05-20 23:13] jabbarish commented on #41
@alexanderwhatley actually, the documentation contains the following instruction:

./gradlew clean installApp

Note that you have placed 'clean' after 'installApp', intstead of before it.  That's why you couldn't see the build folder: it was cleaned right after creation.

[2016-05-23 16:31] rhshah commented on #38
Thank you for working on this, but v1.4.6 still fails on the same region that I provided above. Will really appreciate your help.

[2016-05-23 20:43] mjafin commented on #38
Bummer. @jabbarish would you be able to take a look? Probably a matter of unorthodox cigar strings caused by the explicit realigner

[2016-05-24 21:00] jabbarish commented on #38
@rhshah @mjafin
We think the code fails due to cigar string with big deletions like this: 1M899D96M.  There are very many such cigar strings in the provided bam file. VarDictJava throws exceptions because the reference for variant calling in this particular case  is smaller than the read  length counting the deletion. By default the reference for a region taken is +700 length.  There is a paramete

[2016-05-24 22:29] rhshah commented on #38
@jabbarish thank you indeed it succeeded and it does make sense As ABRA can realign deletions upto 2000bp will probably set it to that.

[2016-05-26 04:17] alexanderwhatley opened #43 "Java crashes when VarDict file modified to do profiling with hprof"
I am trying to profile VarDictJava by modifying the DEFAULT_JVM_OPTS in the file build/install/VarDict/bin/VarDict to '"-Xrunhprof:cpu=times,depth=10" "-Xmx768m"'. However, when I try running the software, Java itself crashes, and I get the error message
# A fatal error has been detected by the Java Runtime Environment:
#
# SIGSEGV (0xb) at pc=0x00007fb87dcdfc0c, pid=41165, tid=140429174187776
#
#

[2016-06-15 15:41] rhshah opened #44 "Issues with DNP, MNP and Complex events"
Hello VarDict Team,

In our testing of VarDict we noticed some issues when an event is called as a DNP, MNP or a complex event that are germline

For mock example in DNP:
if there is germline:
chr1:10 = A
chr1:11 = T
The variant called is
AT > CG
VarDict properly assign DP,VD to DNP for both case and control as well as tagging it as germline.

But then VarDict also call's
chr1:11 = T
The variant c

[2016-06-15 16:30] mjafin commented on #44
@zhongwulai do you have any comments around this?

[2016-07-14 05:31] smboyle opened #45 "Vardict detecting no somatic mutations in DNA panel using proxy normal"
Hello, I am intersted in applying Vardict to identify somatic indels using a broad panel with a  proxy normal sample.  We know this sample has true somatic indels, however, when we run the suggested pipeline porting in a proxy normal sample no indels are listed as "strongly somatic" or "likely somatic".  Before we look into this deeper on our end, I wanted to ask whether this is expected behavior

[2016-07-14 05:33] smboyle commented on #39
@mjafin: We have implemented an erosion script upstream of the vardict pipeline which reduces the coverage in these very highly covered regions, as you have suggested. This fixed the run time and drastically sped up analysis on RNA samples!  Thanks for the assistance, Sean

[2016-07-14 08:02] mjafin commented on #39
@smboyle: nice, thanks for letting us know. If you wanted to share your approach with the community we could blog about it at some point. Sounds like something the RNA-seq variant calling community could use

[2016-07-14 08:02] #39 closed

[2016-07-14 08:07] mjafin commented on #45
Hi @smboyle, thanks for bringing this up. Regarding statistical significance, the p-values for variants are not corrected using Bonferroni/Benjamini-Hochberg or any other multiple correction practice. In other words, the statistical significance of one indel isn't affected by that of another. @zhongwulai can correct me if I'm wrong.

Just to make sure I'm getting this right, your proxy normal samp

[2016-07-14 11:49] roryk commented on #39
This would be great to include in the bcbio-nextgen RNA-seq variant calling step if the process is available.

[2016-07-14 18:27] smboyle commented on #45
Hello @mjafin: Yes, the proxy normal samples is a single normal sample which is unrelated to the tumor sample we are analyzing.  We are currently working today to convert this single normal sample into a combined set of proxy normal samples to see if the significance improves with depth.  We used this proxy bam in your pipeline, inputting it as if it was a paired normal bam sample.   I will let yo

[2016-08-02 21:06] smboyle commented on #45
@mjafin : This issue was caused from the bam missing flags which were required for Vardict to function correctly.  We realigned the proxy reads using BWA and the analysis worked correctly.  You can close this ticket!

Thanks,
Sean

[2016-08-02 21:22] smboyle opened #46 "Increasing minimum evidence required in normal bam to be classified as "germline""
Hello @mjafin ,

We are testing vardict using our proxy bam file for somatic indel detection and are noticing several cases where very low evidence in the proxy bam (3-4 reads at an allele frequency of 0.007 - 0.009) are causing the variant to be classified as germline instead of likely or strongly somatic.  The tumor variant AFs in these cases are between 0.38 and 0.51.

Here is a generalized exa

[2016-08-09 23:12] smboyle commented on #46
Do you have sight on when you will have an answer to this question? Thanks!

[2016-08-10 10:00] leon8889 opened #48 "StringIndexOutOfBoundsException: String index out of range: 1"
I get this error while running VarDict:
Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: 1
	at java.lang.String.charAt(String.java:658)
	at com.astrazeneca.vardict.VarDict.parseSAM(VarDict.java:2221)
	at com.astrazeneca.vardict.VarDict.toVars(VarDict.java:2552)
	at com.astrazeneca.vardict.VarDict.vardictNotParallel(VarDict.java:301)
	at com.astrazene

[2016-08-11 14:50] mjafin commented on #45
I like tickets that fix themselves!

[2016-08-11 14:50] #45 closed

[2016-08-11 14:55] mjafin commented on #46
Hi @smboyle, apologies for the delay in replying your question, I was on holiday for a few weeks.

I wonder if for the example variant you could provide the line from the first piped command here? I.e. the command up to `-E 3 21.bed`. Maybe this could shed some light on the assignment.

@zhongwulai is the expert in saying why a variant may be likely somatic vs. germline.

[2016-08-11 15:00] mjafin commented on #48
Hi @leon8889,
It seems like VarDictJava is failing for one reason or another. May I ask you how you aligned your data (bwa-mem?) and if you performed any external (indel)realignment?

[2016-08-11 21:57] smboyle commented on #46
Hello @mjafin, I hope you had a nice holiday.

The output for this region is:
CRL-1740	1	1	65339110	65339111	CT	C	434	213	104	117	107	106	T/-1	0.4908	2;2	32.1	1	35.6	1	60.1	212.000	0.4930	0.0507	0.1	385	3	197	185	2	1	T/-1	0.0078	2;2	45.3	1	35.3	1	60.0	6.000	0.0079	0	0.0	7	8.000	1	AGAGGGGTTGCATCTGGAAT	TTTTTTTCTCGTAGCCATTT	1:65339032-65339226	Germline	Deletion

I have attached the full file as well.

[2016-08-12 09:40] mjafin commented on #46
@zhongwulai do you have any views on this? Could you spell out maybe the rules for assigning strong somatic vs. likely somatic vs. germlin again?

[2016-08-12 09:49] mjafin commented on #46
From an earlier correspondence with @zhongwulai:
1.	Germline: present in both samples with similar allele frequency
2.	LikelySomatic: parent sample has at least 1 read support, need strong p-value to be called somatic
3.	StrongSomatic: parent sample has no read support
4.	LikelyLOH: Tumor sample has AF > 95% or < 5% while germline has AF between 20-80%.
5.	StrongLOH: Tumor sample lost the variant

[2016-08-12 10:07] mjafin commented on #46
@smboyle Thanks for sending the full file as well. There seem to be two overlapping variants at your locus:
[code]
I'm not sure if this has an effect on the call. Will need to hear back from Zhongwu.

[2016-08-12 16:50] smboyle commented on #46
Hello @mjafin  and @zhongwulai:

We actually have several cases where we are observing this phenomenon.  I am attaching each case.  We have broken down events by cell lines.  In all cases but one there is a second variant called at the same site.  Thank you for looking at these with us!

[vardict_troubleshooting_output_2016-08-11.txt](https://github.com/AstraZeneca-NGS/VarDictJava/files/415788/var

[2016-08-17 13:45] drmjc opened #49 "Configuring amplicon mode"
Hi,
I'm struggling to get my head around the combination of settings required for running in amplicon mode. I've worked out that using `-a int:float`, a regions file needs to be a BED8, and must be tumour-only.

Based on a small custom BAM file around PTEN gene, i've tried a number of regions file, including whole chrom, whole gene, known exons, actual amplicon locations (this is from a HaloPlex d

[2016-08-17 14:06] mjafin commented on #49
Hi Mark,
Thanks for your interest in trying out VarDict. The amplicon aware mode in VarDict is specifically meant for PCR amplicon panels that have fixed start and end points for the reads. Such panels include e.g. the Qiagen GeneRead panels and the proper bed files are provided by Qiagen. Here are two example lines from their panel:
[code]
In these regions, we know that all reads for the first am

[2016-08-17 14:11] drmjc commented on #49
Hi Mjafin,
Thanks for the quick response. In the image above, in the middle Amplicons_PTEN track we've tried to emulate what you've just described, by trimming the 7th & 8th columns to be a bit (maybe 15-20bp) shorter than the amplicon. Haloplex has lots of overlapping amplicons, thus they're stacking up on top of each other. Can you please explain the intent of the `-a int` and why this works if

[2016-08-17 14:47] mjafin commented on #49
Hi Mark,
Looking at the image, there seem to be multiple overlapping amplicons that are almost identical (same starting point but slightly differing end). I suspect VarDict might struggle to assign the reads to the correct amplicons. If you look at the Qiagen amplicons, they overlap fairly little so assignment is easier. Not sure if this the problem with your data but could well be.

Cheers,
Miika

[2016-08-17 14:52] drmjc commented on #49
Hi Miika,
ok, fair enough, i did wonder if overlapping amplicons was going to be a problem. Even if I fake one amplicon per exon, with 7th & 8th columns shorter, i'm not having much luck.

Is the intent of `-a` to filter out reads that don't start close enough to each end, or to filter out variants that are too far from each end?

My poor performance during testing with default `-a 10:0.95` could

[2016-08-17 15:00] mjafin commented on #49
I'm 99% sure the intent of `-a` is to filter reads (too far from each end) but @zhongwulai would know for certain (he's off on holiday I think so may not get a notification).

The amplicon mode is not suitable for hybrid or other types of capture where there is any wiggle in the starting points vs. the amplicons in the bed file; it's strictly for PCR amplicon or similar data.

As an aside, I've be

[2016-08-17 15:03] drmjc commented on #49
Thanks Miika, that's making sense now.

[2016-08-17 16:40] mjafin commented on #49
Cheers Mark I'll close the ticket for now, let us know if you need any further help or clarification for using VarDict.

[2016-08-17 16:40] #49 closed

[2016-08-17 22:38] drmjc commented on #49
no probs, thanks again.

[2016-08-23 22:13] smboyle commented on #46
@mjafin and @zhongwulai:  Have you had a chance to take a look a look at this issue?  Thanks!

[2016-08-24 08:39] mjafin commented on #46
I've pinged Zhongwu, let's hope he can shed some light on this

[2016-09-12 14:29] JoKw commented on #37
Hi @jabbarish, Is there a fix for the problem? I got the error too.
Exception in thread "main" java.lang.IllegalArgumentException: Malformed CIGAR string: 71M12D-1I30M
        at htsjdk.samtools.TextCigarCodec.decode(TextCigarCodec.java:69)
        at com.astrazeneca.vardict.VarDict.parseSAM(VarDict.java:1550)
        at com.astrazeneca.vardict.VarDict.toVars(VarDict.java:2552)
        at com.astr

[2016-09-13 19:37] zhongwulai commented on #46
My apology for not keeping up to date on issues.

I realized that Germline classification is misleading, but my original intention is to show that the variant is also detectable in parental sample, which in cancer research, can also be a cancer sample and has low allele frequency. Given the depth you reported (~500X), I would not trust much for variants < 1% (0.015).  So you can change your parame

[2016-09-13 20:46] zhongwulai commented on #44
Speaking from my experience, it's likely T>G is due to the end of reads and should be typically filtered out.  My later implementation would rescue them as MNV.  So would be interesting to know what's the PMEAN value for this variant.  Lower than 5 is a sign of false positive.

[2016-09-13 20:46] jabbarish commented on #46
@zhongwulai  Hi!  Could you also have a look at https://github.com/AstraZeneca-NGS/VarDictJava/issues/37 ?

[2016-09-15 15:43] zhongwulai commented on #37
The issue was caused when VarDict tries to fix a way inferior alignment the aligner produced.  The original CIGAR 3S18M4D4M8I2M16D115M, should be as simple as "3S38M12D109M".  Looking at the header, the aligner "isaac-align" has not been tested by VarDict.  Maybe you should also try to contact the author of the aligner for a fix?

Meanwhile, I push the fix for Perl version in github (lines 751-783

[2016-09-15 15:50] jabbarish commented on #37
Thanks!

[2016-09-16 07:38] mjafin commented on #37
Thanks Zhongwu, much appreciated for looking into this. I reported the issue with Illumina and will close this ticket.

[2016-09-16 07:38] #37 closed

[2016-09-16 14:22] jabbarish commented on #37
@JoKw Could you provide us with a data to test our fix, please?

[2016-09-20 14:10] mjafin commented on #37
@haseley can you check suggestion by @rpetrovski at https://github.com/Illumina/isaac2/issues/15

[2016-09-21 17:11] tfenne commented on #34
I just opened up PR #50 to fix this.  I ran into it again when I started running a tool I wrote that clips primer sequences from reads.  This led to leading/trailing insertion operators in the cigar (which I want to preserve for other tools), sometimes with soft or hard clipping outside of the insertion.

[2016-09-23 14:41] tfenne opened #51 "VarDict should clearly document that reads without `NM` tags are skipped"
VarDictJava (and presumably VarDict) completely ignore reads that are missing the _optional_ `NM` tag, but this isn't clearly stated in any documentation, nor are any warnings issued while running.  It would be nice if the usage documentation mentioned this, and also if it either logged a warning the first time this happens, or logged the number of missing NM tags at the end of a run.

It would be

[2016-09-23 17:54] zhongwulai commented on #51
@tfenne Thanks for the suggestion.  Can I ask which aligner did you use that didn't have NM tag?  When you use option "-y", it should give a warning message indicating the tag is missing, but doesn't stop.

The aligners we tested always produce "NM" tag and I think it should be required for all aligners and it should be aligners' job to produce it.  Even though VarDict can recompute it, it's a rec

[2016-09-23 18:13] tfenne commented on #51
@zhongwulai - it wasn't an aligner, I was running a tool that performs some custom trimming of the reads post-alignment, and since I didn't think I needed the `NM` tag (or `MD` etc.), I dropped those tags since they'd be inaccurate after trimming instead of re-computing them.  I've fixed my process now to re-compute `NM` so it's not an issue for me any longer.

I totally understand not wanting to

[2016-09-23 20:01] zhongwulai commented on #51
@tfenne Great.  I don't know what your intention on trimming, but just want to let you know that VarDict has an option "-T INT", which, when specified, will only use the first "INT" bases in the reads.  So it should be treated as hard trimming.  For example, you have a sequencing run with 250bp but notice there's quality issue after 201, you can simply add option "-T 200" in VarDict.  VarDict will

[2016-09-24 00:42] zhongwulai commented on #51
I just pushed in a fix. I'll call variants even if there's no NM tag with no warning message unless option -y is on.

[2016-09-24 00:42] #51 closed

[2016-09-24 12:16] tfenne commented on #51
Thanks @zhongwulai that's great.  Just to answer your earlier question, I have an experiment where the targets are amplified by many overlapping PCR amplicons, so each base in the target may be covered by multiple amplicons, and may be under a priming site for some of them.  I'm matching inserts to amplicons post-aligment then trimming off the primers at the starts of the reads.  I'm doing it all

[2016-09-24 18:24] zhongwulai commented on #51
@tfenne Actually VarDict has amplicon mode to take care of trimming on the fly and detect/flag any amplicon bias variants.  Check out this Wiki post: https://github.com/AstraZeneca-NGS/VarDict/wiki/Amplicon-Mode-in-VarDict

[2016-09-26 21:19] ramaniak opened #52 "uninitialized sample"
Hello
I am using vardict for a paired comparison and here is the bash script I am using. This is basically the paired example provided for the use case.

[code]

and get the following error:
[code]

Thanks
Arun

[2016-09-29 15:29] #52 closed

[2016-10-05 19:34] davidroberson opened #53 "RNA-seq Variant Indel/SNV calling"
Hello we would like to use your tool on a large set of RNA WTx samples (deep coverage) that have been aligned via STAR.  Are there any notes on best practices for parameters to tweak for RNA-Seq data?  So far we are thinking of "turning off" strand bias filter and reducing allele freq to 1%.

Thank you

Dave

[2016-10-06 15:16] davidroberson commented on #53
How can we effectively turn strand bias off.  Is it simply setting strand bias minimum read number very high?

Thanks,
Dave

[2016-10-06 16:43] mjafin commented on #53
Hi Dave,
I'd refer to @zhongwulai about switching off strand bias filtering.

What sort of data is it that you have? Cancer? At 1% you'll get a lot of noise but if you're happy filtering downstream there's nothing stopping you from using 1%.

We've been toying with all sorts of ideas around how to dynamically downsample regions of super high expression, how to filter or mark RNA-editing sites etc.

[2016-10-11 14:17] kbthomas59 opened #54 "3 Column Bed file"
Java VarDict gives an immediate java.lang.ArrayIndexOutOfBoundsException when I try a 3-column bed file. The bed file looks like (tab delimited)
chr1 65509 65625
chr1 65831 65973
chr1 69481 69600
chr1 721381 721519
chr1 721530 721806
...

Information from an individual line works with the -R option.
An 8-column bed file does work with columns 4,5 and 6 empty like
chr1 65509 65625 65509 65625
...

[2016-10-11 14:31] mjafin commented on #54
Hi @kbthomas59,
Thanks for your interest in VarDict and sorry about the problems you're seeing. Amplicon mode is triggered when VarDict detects the seventh and eighth columns in a bed file but care needs to be taken not to enable amplicon awareness in non-PCR-amplicon data.

Have you checked that there are no empty lines in the bed file? If you send a small example of where you see the failure tha

[2016-10-11 15:05] kbthomas59 commented on #54
[chr1Test.txt](https://github.com/AstraZeneca-NGS/VarDictJava/files/522187/chr1Test.txt)

[Uploading errorOut.txt…]()
[Uploading errorOut.txt…]()
[Uploading errorOut.txt…]()

[2016-10-11 15:06] kbthomas59 commented on #54
[Uploading errorOut.txt…]()

[2016-10-11 17:00] kbthomas59 commented on #54
Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 6
	at com.astrazeneca.vardict.VarDict.toRegions(VarDict.java:118)
	at com.astrazeneca.vardict.VarDict.start(VarDict.java:64)
	at com.astrazeneca.vardict.Main.run(Main.java:134)
	at com.astrazeneca.vardict.Main.main(Main.java:25)

That's the entire error output  from running with the attached bedfile.

[chr1Test.txt](https://githu

[2016-10-12 12:04] mjafin commented on #54
Hi @kbthomas59,
The bed file looks OK to me but can you still try adding a fourth column and see if you get the same error?

[2016-10-12 13:46] kbthomas59 commented on #54
Adding a fourth column, as in the attached bed file, gives a different
error:

Exception in thread "main" java.lang.NumberFormatException: For input
string: "ABC"
        at
java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
        at java.lang.Integer.parseInt(Integer.java:492)
        at java.lang.Integer.parseInt(Integer.java:527)
        at com.astrazeneca.vardict.U

[2016-10-12 13:48] mjafin commented on #54
Could be there is an issue somewhere else. Could you paste the complete vardict-call here and possibly a slice of the bam file? Are you using bwa for alignment?

[2016-10-12 14:03] kbthomas59 commented on #54
BWA is used here.  Are there problems with it?

Brad Thomas

On Wed, Oct 12, 2016 at 8:48 AM, Miika Ahdesmaki <notifications@github.com>
wrote:

[2016-10-12 14:13] mjafin commented on #54
Absolutely no problem using bwa-mem, that's our preferred aligner.

[2016-10-12 20:06] kbthomas59 commented on #54
Hello,

Can you recommend a tool for making small bam slices?

Also, today as I was trying various things, I found that if I use bamtools
split to divide my bam file into smaller bam files by chromosome, my exome
bed file does work now with VarDictJava, but only if I set that bed file up
as an 8-column bed file (I keep columns 4 - 6 empty and give 7 and 8 the
same entries as 1 and 2).

Brad Thomas

[2016-10-13 08:31] mjafin commented on #54
@kbthomas59
1. Could you send us the command line you used to call vardict on the bam and bed file first so I can check it's OK?
2. You can slice the bam using `samtools view -b -U my.bed my.bam > my_sub.bam` where `my.bed` has a few of the above bed lines
3. It's a very bad idea to use VarDict in amplicon mode if your data is from exome or other hybrid capture (or any non-PCR-amplicon panel in fa

[2016-10-13 14:26] kbthomas59 commented on #54
Along with a bam file slice (and its index) I've attached an 8-column bed
file that works with that slice and a 3 column bed file that does not.

Here is the command line I've used:
/home/VarDictMaster/VarDictJava-master/build/install/VarDict/bin/VarDict -b
bamSlice.bam -G ../hg19-Reference.fa headTest.bed

The error with the attached 3-column bed file is:

Exception in thread "main" java.lang.Arr

[2016-10-13 15:01] mjafin commented on #54
Hi Brad,
Unfortunately the attachment did not reach Github but could you try amending your vardict call to look like this:
[code]

[2016-10-13 15:15] kbthomas59 commented on #54
OK, seems to work with 3-column bed files now.  What are the important
flags I omitted?

Brad Thomas

On Thu, Oct 13, 2016 at 10:01 AM, Miika Ahdesmaki <notifications@github.com>
wrote:

[2016-10-13 15:17] mjafin commented on #54
Excellent, glad to hear that. The flags for using bed files would be
[code]
The `-f` option further controls the allele frequency cutoff and for tumour FFPE you may want to set it to 5% - 10%, lower for ctDNA.

Have you considered using bcbio for all of the parallelisation, alignment, variant calling, annotation and QC? VarDict is implemented therein https://github.com/chapmanb/bcbio-nextgen

[2016-10-13 15:17] #54 closed

[2016-10-13 15:46] kbthomas59 commented on #54
Yes, we do use bcbio.  I needed an isolated instance of VarDictJava running
for another purpose.

Thank you for all of your help.

Brad Thomas

[2016-10-13 15:48] mjafin commented on #54
Sounds great. You can also extract bcbio's vardict calls from the `bcbio-nextgen-commands.log` and use those as a starting point.

[2016-10-13 15:52] #20 closed

[2016-10-13 15:53] #48 closed

[2016-10-13 15:54] #23 closed

[2016-10-13 15:56] #28 closed

[2016-10-13 15:56] #29 closed

[2016-10-13 15:57] #30 closed

[2016-10-13 15:59] chapmanb commented on #26
Fixed with updates in #7

[2016-10-13 15:59] #26 closed

[2016-10-25 11:11] ndaniel commented on #41
For me
[code]
does not work.

But this works:
[code]

[2016-10-25 11:27] mjafin commented on #41
Thanks for chiming in @ndaniel. @jabbarish if you think this would be good to be added to the docs please do.

@aewhatley I'll close the ticket, let us know and reopen if you see further issues.

[2016-10-25 11:27] #41 closed

[2016-10-25 11:44] mjafin commented on #39
@smboyle did you end up "productionising" your downsampling approach and if so, would you still consider sharing with the community?

[2016-11-03 14:18] reddpoint opened #55 "Amplicon mode output too many columns"
Hello

I am trying to use VarDictJava in amplicon mode but when I pipe the results into TestStrandBias.R I get an error that the input is incorrect.  It looks like teststrandbias expects a 38 column file from VarDict but I am getting a 40 column table.  Any thoughts?

Here is my command
VarDict -D -G /fdb/GATK_resource_bundle/b37/human_g1k_v37.fasta -f $AF_THR  -a 10:0.95         -N "NY152" -b map

[2016-11-04 08:55] mjafin commented on #55
Hi @reddpoint, thanks for your interest in VarDict and sorry about the problems. Just out of interest, have you tried without the `-D` flag? Further, you don't need to explicitly specify the `-a` flag as VarDict will know when to use amplicon calling based on the bed file format.

Additionally, can you paste a few lines from your bed file here to help with debugging?

[2016-11-04 13:42] reddpoint commented on #55
Yep that fixed it.  Taking out the -D flag produced the correct amount of columns.

[2016-11-04 14:09] mjafin commented on #55
Great, let us know if you have any other questions

[2016-11-04 14:09] #55 closed

[2016-11-08 18:04] wendymclee3 opened #56 "VarDict Amplicon Mode throws IndexOutOfBoundsException"
I previously ran successfully using VarDict with the 6-column bed file without the amplicon mode. I then added the 7th and 8th column to the bed file and re-run the same sample using the amplicon mode, but failed. Here it is the error:

Exception in thread "main" java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.rangeCheck(ArrayList.java:653)
	at java.util.ArrayList.ge

[2016-11-08 18:20] mjafin commented on #56
Hi @wendymclee3, thanks for trying VarDict and sorry about the error.
Just a quick check, have you verified that for each bed line col3<col7<col8<col4 ?

Other than that, could you let us know which aligner you used (if not bwa-mem) and if you did any explicit indel-realignment?

If you could send us a reproducible example including a small bam and bed file we can take a further look.

[2016-11-08 18:36] wendymclee3 commented on #56
Hi @mjafin. Thanks for the quick response. In the VarDict example, col3 is not less than col7. Here is the VarDict example bed:

chr1    46713345        46713502        RAD54L  0       .       46713363        46713481
chr1    46713418        46713578        RAD54L  0       .       46713435        46713561

We did use bwa-mem and we didn't do any indel-realignment. I will email you the bam and bed

[2016-11-08 18:37] wendymclee3 commented on #56
Or what is the best way to share the bam and bed files with you?

[2016-11-08 19:06] wendymclee3 commented on #56
Attached are the down-sampled bam file and the bed file

[TroubleshootVarDictAmpliconMode.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/579120/TroubleshootVarDictAmpliconMode.zip)

[2016-11-08 19:12] wendymclee3 commented on #56
Here are the bed and bam files: [Troubleshoot_VarDict_bam_and_bed.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/579135/Troubleshoot_VarDict_bam_and_bed.zip)

[2016-11-08 19:21] mjafin commented on #56
Sorry @wendymclee3 I got my columns mixed up, this is what I meant:
col2<col7<col8<col3
Does this hold for your bed file?

@malperovich @ZLyanov do you guys have any cycles for checking out the bam and bed file error?

[2016-11-08 19:25] wendymclee3 commented on #56
I checked the 4 columns, and they agree with col2<col7<col8<col3 rule

[2016-11-08 19:27] mjafin commented on #56
Thanks, let's wait for Zaal and Mikhail to get back to us.

Out of curiosity is your data from a Qiagen or similar PCR amplicon panel?

[2016-11-08 19:31] wendymclee3 commented on #56
Our data is from an in-house designed amplicon panel.

[2016-11-11 15:03] ZLyanov commented on #56
@zhongwulai
Dear Zhongwu,
It seems that the fix of issue https://github.com/AstraZeneca-NGS/VarDictJava/issues/51 by commenting out line 1462 in VarDict.java is the of this issue. The reason is that unmapped reads are not skipped now, and java version fails when it tries to work with cigar "*" (for example, line 1498). Can unmapped reads just be skipped?

[2016-11-11 15:59] wendymclee3 commented on #56
Thanks @zhongwulai. It works when I filtered out the unmapped reads.

[2016-11-24 09:48] microtsiu commented on #44
I has a similar question, see the picture below,
![image](https://cloud.githubusercontent.com/assets/3345798/20593399/336bf20c-b26d-11e6-9ff3-f940cfc6cad8.png)

my expected result is G>A, but VarDict called is TG>CA,  and frequence is 2e-04.

@zhongwulai Could you tell me how to solve it?

best,
mico

[2016-11-28 14:37] zhongwulai commented on #56
Yes, mapped reads should be skipped.

[2016-11-28 17:21] zstudent commented on #56
@zhongwulai ok, thank you! We will update the java version soon.

[2016-11-28 17:24] ZLyanov commented on #56
@zhongwulai ok, thank you! We will update the java version soon.

[2016-12-02 02:03] microtsiu opened #57 "MNP or Complex events"
Hello VarDict Team,

In our testing of VarDict with low frequence variations, it is seemed has some bugs, see the picture. my expected result is G>A, but VarDict called is TG>CA, and frequence is 2e-04.
![image](https://cloud.githubusercontent.com/assets/3345798/20820385/e1359128-b875-11e6-9631-610f7638413d.png)

best,
mico

[2016-12-07 17:12] schelhorn opened #58 "VarDict resources characteristics on paired WGS data"
We are currently looking into using VarDict in paired WGS mode and were wondering what the sweet spot(s) in terms of memory and CPU requirements on a single node versus a split approach over multiple nodes (using the bcbio approach) are.

More specifically,

* what is the approximate maximum memory demand per single process for paired 50x WGS libraries, and how does it scale with the number of thr

[2016-12-07 18:03] mjafin commented on #58
Hi @schelhorn, thanks for opening the discussion around scaling. We don't internally use (and neither does bcbio) the multithread features of VarDictJava itself but parallelise by splitting to regions as you know, so each job should be using roughly 100% of a thread. Thus I'm probably not best placed to answer your questions. That said..
- Memory requirements for VarDict should scale with the widt

[2016-12-20 10:13] Tabea-K opened #59 "-th thread argument given in github documentation, but not implemented?"
Hi there,
when I tried to use the `-th [threads]` option that is described in the Readme file, VarDictJava quit with this error message:

`Can't open 2: No such file or directory at ../VarDictJava/VarDict/vardict line 93.`

Then, I checked, whether the `-th` option is described in the help (`-h`), and it apparently isn't featured there.

Hence my question: is there an option to set the number of t

[2016-12-20 10:21] mjafin commented on #59
Hi @Tabea-K, thanks for trying VarDict and sorry about the problems. I take it without `-th` it's working OK? If so, maybe @ZLyanov and his team could take a look at this.

[2016-12-20 10:35] Tabea-K commented on #59
Yes, it's working fine, when I don't use the option `-th` in the way I used it. I have to specify, that I tried it with a parameter of 2, i.e. `-th 2`. When I leave the parameter 2, and just specify `-th`, VarDict runs without any problems.

[2016-12-20 12:00] ZLyanov commented on #59
@Tabea-K We'll check it right now

[2016-12-20 12:20] ZLyanov commented on #59
@Tabea-K it seems that you launched the perl version instead of java. Look at the example template from the README, please:

<path_to_vardict_folder>/build/install/VarDict/bin/VarDict -G /path/to/hg19.fa -f $AF_THR -N sample_name -b /path/to/my.bam -z -c 1 -S 2 -E 3 -g 4 /path/to/my.bed | VarDict/teststrandbias.R | VarDict/var2vcf_valid.pl -N sample_name -E -f $AF_THR

[2016-12-20 12:29] #59 closed

[2016-12-21 23:46] tfenne opened #60 "Handling of overlapping reads from short inserts?"
I'm curious what you recommend for sequencing data that has some inserts that are shorter than 2x the read length such that some genomic bases are read in both R1 and R2?

I believe I am seeing cases in the data where VarDictJava is counting both reads from the pair for supporting evidence for a variant, and I am getting back inflated AFs and ADs.  Do you recommend that users trim overlapping read

[2016-12-22 08:27] mjafin commented on #60
@tfenne thanks for raising this for discussion. Are you saying that you have very large variability in your fragment sizes and the very short fragments are more prevalent in the clones/cells with the variants, thus biasing the AF/AD values? Like in cfDNA the tumour DNA fragments would be around 170bp but the germline DNA might be longer fragments

@zhongwulai have you got any ideas?

[2016-12-22 11:43] tfenne commented on #60
Hi @mjafin ... the problem is more that I'm doing some work where I'm really trying to push the limit of detection in terms of minor allele frequency, seeing how low we can go and where the errors come from at very low frequency, and how best to squash them.  So it's not so much that the tumor DNA, or the mutated inserts are preferentially short, it more of a sampling problem.

E.g. if a random 5-

[2016-12-22 13:52] mjafin commented on #60
Thanks for the explanation. @zhongwulai knows the internal workings of VarDict more than anyone else so would be best placed to answer this one.

[2016-12-23 17:42] dh10 commented on #60
I have encountered @mjafin 's point regarding two libraries with different fragment sizes. Merging or trimming overlaps are one solution obviously (and has its own issues). However, it may also be of value to know the count of ALT and REF alleles arising from overlaps possibly as a format field and let the user filter and adjust if desired. One can also envision a overlap-adjusted VAF in analogy t

[2017-01-04 02:12] jasper1918 commented on #53
I found this thread while searching for an optimal parameter set for RNA-Seq variant calling with polyA capture.  @davidroberson - Were you able to find a good set of working  parameters? or did turning off strand-bias help?

[2017-01-04 16:44] tfenne commented on #60
@zhongwulai any thoughts on whether this is something that is desirable to be fixed in VarDict itself?

@dh10 I agree with you on the additional information when the basecall is different in R1 vs. R2, but don't think it makes sense to output two AFs.  Each template really should only be counted once as an independent observations - the best thing to do would be to use the information from both re

[2017-01-10 21:30] vinogradovs commented on #60
@tfenne we at EPAM have discussed some possible ways how to fix this in VarDict itself.
May we ask you to provide us with some data samples containing the overlapping reads?

[2017-01-10 21:42] dh10 commented on #60
@tfenne I agree on not counting twice obviously and one doesn't want to make this too complicated

It is still useful to know how many of the supporting ALT and REF observations arose from overlapping pairs  especially with rare subclones

On Jan 10, 2017, at 4:31 PM, vinogradovs <notifications@github.com<mailto:notifications@github.com>> wrote:

@tfenne<https://urldefense.proofpoint.com/v2/url?u=

[2017-01-11 18:53] mjafin commented on #60
We've discussed different options and the simplest thing to implement according to @zhongwulai  would be to stop reading the leftmost (rightmost) read when its mate starts. Obviously this is not as good as forming a consensus but probably much faster and a good start. Stay tuned.

[2017-01-23 09:40] mjafin commented on #60
@tfenne we have an initial implementation to address the overlapping reads by just stopping reading the +ve strand read when encountering the start of a (properly aligned) -ve strand read. Would you be interested in testing it on your side, not just to check that the reads for your specific cases are counted correctly but also that you don't see unexpected drop in true positives elsewhere?

[2017-01-23 14:17] tfenne commented on #60
@mjafin I'd be happy to.  I can compare a few samples run with my own clipping tool and then fed into the existing version of VarDictJava, vs. the built in support.  Can you point me at a branch I can build from?

[2017-01-23 14:38] mjafin commented on #60
@ZLyanov can your team take a look at exposing the development branch with the initial fixes in?

[2017-01-23 15:33] SilinPavel commented on #60
Here is a binary of VarDict that implements the Step 1 of Overlapping reads problem solution. @tfenne Could you please try it on your samples? (Development branch will follow shortly)
[VarDict-1.4.8_orf.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/724124/VarDict-1.4.8_orf.zip)

[2017-01-24 13:16] tamaraprieto opened #61 "Error: Did not inflate expected amount"
I am getting the error below when running the program but only for some tumor samples:

java.util.concurrent.ExecutionException: java.util.concurrent.ExecutionException: htsjdk.samtools.SAMFormatException: Did not inflate expected amount
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(FutureTask.java:192)
	at com.astrazeneca.vardict.VarDict.s

[2017-01-24 13:22] mjafin commented on #61
Hi @tamaraprieto, thanks for trying VarDict and sorry about the problems. So you're absolutely positive that the bam files are not corrupted (https://github.com/samtools/samtools/issues/362) ?

I saw a mention of high Phred scores. Could it be your quality values are in Illumina instead of Sanger format?

[2017-01-24 13:35] tamaraprieto commented on #61
Hi @mjafin, thank you for the quick response. I have validated them using Picard ValidateSamFiles but in fact, as my bam files have been generated by an IonProton platform one months ago I assumed they would be in Sanger format. I will check it because in fact I got another error in one of the samples that claims Cannot encode phred score: 102. It is probably what you are saying. Thank you very mu

[2017-01-24 13:52] mjafin commented on #61
OK well let us know what you find out. I'll close the issue but please reopen if your problem isn't with the quality values after all. A small slice of a bam file that causes the issue would be very helpful for our debugging.

[2017-01-24 15:58] tamaraprieto commented on #61
Hi again @mjafin. I have checked the encoding and the files seems to be Sanger/ Illumina 1.9 so it has to be another reason... I attach a subsampling of the bam file for debugging

[tumor.bam.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/727163/tumor.bam.zip)

[2017-01-24 16:01] mjafin commented on #61
@ZLyanov would your team be able to take a quick look at this when you've the cycles? This is Ion Proton data so something we rarely if ever look at.

[2017-01-25 11:05] SilinPavel commented on #60
@tfenne Development branch is here: https://github.com/AstraZeneca-NGS/VarDictJava/tree/f_processing_overlapping_reads

[2017-01-26 14:57] kamyshova commented on #61
@tamaraprieto could you tell us please which reference was used. A small slice of control.bam would be also very helpful.

[2017-01-26 15:48] tamaraprieto commented on #61
[control.bam.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/732707/control.bam.zip)

Hi @kamyshova,
Here you are the control. The reference is the default in torrent browser (3G), how do you prefer I share it?

[2017-01-27 08:12] kamyshova commented on #61
Do you mean this is hg19?
Could you send a link or screenshot of torrent browser (3G)?

[2017-01-27 08:45] tamaraprieto commented on #61
Hi again @kamyshova,

It is hg19 but but with some modifications. I do not have access to Torrent browser, my collaborators shared with me the reference but the link has already expired. However, I think it is the same that the 8th entry (description:Homo sapiens hg19) in [here](https://ts-pgm.epigenetic.ru/configure/references/).

It shouls be like this:
`SN:chr1 LN:249250621
SN:chr2 LN:243199373

[2017-01-27 14:26] kamyshova commented on #61
@tamaraprieto thank you for providing files. We've run them with parameters that are clearly defined in your command line example.
Surprisingly, it has completed without exceptions.
We probably need a 100% synchronized run.
Could you please share the whole set of parameters as well as a BED file?

[2017-01-30 11:13] tamaraprieto commented on #61
@kamyshova sorry for the delay but I was out of the office and the internet connection was very bad. Here you have [all the files](https://www.dropbox.com/sh/w0q87klkaxlnoqj/AADQe08m_bTSozfuff5YbVeRa?dl=0). I think you cannot download them as a zip but it should work one by one.

These are the parameters:
[code]

[2017-01-30 15:01] kamyshova commented on #61
@tamaraprieto we've checked VarDict ones again with your parameters and it finished without any exceptions. Maybe there are problems with index files. How did you build them for reference and bam files?

[2017-01-30 15:12] mjafin commented on #61
If the bed file has too many regions included it could also be a RAM issue. I haven't got access to the bed file but does it have multiple chromosomes or just a few chunks here and there? VarDict should be run on smaller chunks

[2017-01-30 15:29] tamaraprieto commented on #61
Hi @kamyshova and @mjafin. Thanks for your help. The bam index files have been generated in the sequencing center and I have run these two commands for the reference.

[code]

The bed file is [this one](https://www.dropbox.com/s/vth05w2srzf4dnz/chunkstarget.bed?dl=0) and it has 351 amplicons (~120bp) covering 17 genes.

I will run everything after creating the bam index files myself, just to check

[2017-02-01 13:30] chapmanb commented on #60
Tim, Miika, Pavel and Zaal;
I ran validations of the no overlapping read version against DREAM synthetic dataset 4. We needed to do a small post-calling filter tweak but after that the new version looks great. It's more sensitive and specific:

http://imgur.com/a/SF2a8

Thanks for the suggestion to tackle this.

[2017-02-01 13:33] mjafin commented on #60
Excellent!
@ZLyanov and @SilinPavel can you push out a new release for VarDictJava and merge the developmental branch into master when you're happy with your tests (which I imagine you have already run, in which case not other action besides merging and release).

[2017-02-01 13:41] mjafin commented on #60
Closing issue, stand by for new release

[2017-02-01 13:41] #60 closed

[2017-02-01 15:54] tfenne opened #62 "Confusion regarding strand and other filters"
I got bitten by something recently and was curious to understand the reasoning behind some filtering choices in VarDict[Java] and whether there is any interest in re-visiting those choices.

Starting from the end, I recently discovered that VarDict discard's all variants that do not return true when evaluated with the `isGoodVar()` method.  This includes several tests that I was surprised to find,

[2017-02-01 16:13] wendymclee3 commented on #62
I agree with @tfenne that it'd ideal to have the filtered variants to be emitted in the resulting VCF. I spent quite a bit of time tracking down the variants that are not called and tried to understand why VarDict wouldn't emit those calls when the min reads and min fraction criteria were met.

[2017-02-01 16:58] zhongwulai commented on #62
@tfenne Can you double check whether the v2 was filtered due to strand bias?  Given those numbers, it should be filtered due to other parameters, not because of strand bias.  Or you can send the pipleup mode output for variant.

There're some redundancies in VarDict's "isGoodVar()" function and var2vcf_valid.pl script.  Move to vcf step might make sense.  I've been using the "-p" pileup mode for d

[2017-02-02 15:51] tfenne commented on #62
@zhongwulai Thanks for the response.  I'm 99% sure that it was strand-bias filtering, because part my debugging process was to run with `-B 10000` to effectively disable the strand bias filtering and  that caused the variant to be emitted.

I've attached a file with the pileup mode results for both the v1 and v2 inputs at that locus:
[pileup.txt](https://github.com/AstraZeneca-NGS/VarDictJava/file

[2017-02-05 16:39] chapmanb opened #63 "Do not fail on single end data with new overlapping read support"
The latest release (1.4.9) fails when using single end read data during the check for overlaps:
[code]
Ideally VarDict would detect that it's not paired data and skip the overlap check. Here is a small test case that demonstrates the issue:

http://s3.amazonaws.com/chapmanb/testcases/vardict_singleend.tar.gz

[2017-02-05 16:42] ZLyanov commented on #63
@chapmanb thank you!  we will check whether it is a regression asap.

[2017-02-06 09:52] tamaraprieto commented on #61
Hi, I still don't have an answer to the error but I think is something related to the cluster where I am running the code. Some jobs fail but when I run them independently they work. And different jobs fail each time. Anyway, I got all my jobs finished without errors at least once so you can close the issue. Thank you very much for your help.

Tamara

[2017-02-06 10:08] mjafin commented on #61
Hi Tamara, thanks for confirming. These intermittent gremlins are the worst. Hopefully your admins can figure out if it's a problem with the amount of RAM or something as simple as the maximum allowed open file / process handles.

[2017-02-06 10:08] #61 closed

[2017-02-06 20:51] SilinPavel commented on #63
@chapmanb Issue was resolved, please check!
Here is the commit:
https://github.com/AstraZeneca-NGS/VarDictJava/commit/f34c8d0c807c48361179efc57cfe423e44c396d8

[2017-02-07 01:40] chapmanb commented on #63
Pavel and Zaal -- brilliant, thank you for the quick fix. That does resolve it for me. Would it be possible to push a new release with the fix and I'll update the bioconda packages. Thanks again.

[2017-02-07 18:57] ZLyanov commented on #63
@chapmanb Done.  See release 1.4.10
 Thanks!

[2017-02-08 01:19] chapmanb commented on #63
Thanks so much, building a new conda package now.

[2017-02-08 01:19] #63 closed

[2017-02-08 20:17] chapmanb opened #64 "Improving memory usage over small regions"
Zaal, Zhongwu and all;
We're seeing some cases where VarDict has higher than expected memory usage on relatively small regions. Here is a self contained example over a 1.5Mb region where VarDict memory usage spikes at ~6Gb:
[code]
We've been seeing issues where these type of memory spikes cause schedulers to kill jobs, requiring allocating large amounts of memory (~10Gb+/core) to VarDict jobs. All

[2017-02-08 21:24] ZLyanov commented on #64
@chapmanb ok, we will try to find a solution asap.

[2017-02-09 08:41] mjafin commented on #64
Might be worth doing a quick check with realignment switched off if that is the reason

[2017-02-09 19:35] chapmanb commented on #64
Miika -- thanks for the suggestion. It doesn't look like realignment is the culprit here as it still uses similar amounts of memory with `-k 0` set. Happy to try other command line tweaks if it would help.

[2017-02-14 13:22] bramslabbinck opened #65 "multi-allelic sites"
Multi-allelic sites are not called when running the amplicon-aware mode (unpaired). This in contrast to the default run with a 3-column bed file.
When inspecting the code of the method ampVarDict, I noticed that in case of multi-allelic sites only the first allele is retrieved. See line https://github.com/AstraZeneca-NGS/VarDictJava/blob/master/src/main/java/com/astrazeneca/vardict/VarDict.java#L5

[2017-02-15 10:29] mjafin commented on #65
Hi @bramslabbinck, thanks for pointing this out. I spoke to @zhongwulai who thinks this is a reasonable request. Once this is fixed you still need to use the `-A` option in `var2vcf_valid.pl` to output all alleles.

@ZLyanov could you and your team put this on the to-do list (possibly after the current pull requests are addressed)? According to Zhongwu: "The code would indeed need change.  It need

[2017-02-15 10:33] mjafin commented on #62
@tfenne would you be able to provide a small bam file with good variants and variants falling into some of the above categories? If you also provide some meta code for the implementation we could ask our friends (@ZLyanov) to implement this, ideally without regressions.

[2017-02-15 13:06] nkarulin commented on #64
Hello Brad!
VarDict memory usage basically depends on the region size and bam coverage of the region, but not on the number of regions.
VarDict keeps in memory all variations contributed by reads in particular region. When a region is processed, VarDict outputs all variations and the memory can be freed.
In the given test data there are regions with size of 1 mln bp, which demands quite a lot of m

[2017-02-15 14:42] chapmanb commented on #64
Nikolai;
Brilliant analysis, thanks for looking at this in depth. That does give us a pretty clear path to having better memory usage. Is it possible to have VarDict recognize when it can free memory in larger regions and do this automatically? The only issue with chunking up the BED files further is that we risk breaking through an Indel, which I'm worried could result in either losing the indel

[2017-02-15 14:58] mjafin commented on #64
@chapmanb I spoke to @zhongwulai, and in this case it seems we could have overlapping regions (to avoid missing indels) in the initial call to VarDict(Java). For the regions of a single call to VarDict, `var2vcf_valid.pl` will emit only one copy of the variant.

[2017-02-15 15:06] tfenne commented on #62
Hi @mjafin I can certainly try to put together some data that illustrates the behaviour.  I'm tempted to put together a PR as an example of what I'm talking about that because I think it might be easier than pseudo-coding.  Essentially what I'm suggesting is removing many of the filters from `isGoodVar` with the goal being:
1) More of the variants get passed through to the VCF via `var2vcf_valid.p

[2017-02-15 15:10] mjafin commented on #64
That said, when using the `-A` option will print out the duplicates. Probably unwanted behaviour but a separate issue.

[2017-02-15 15:18] tfenne commented on #62
Thinking about this more, here's what I think I'm suggesting, as comments in the isGoodVar() function:

[code]

[2017-02-15 15:50] mjafin commented on #34
I'm closing this issue now as PR #50 should be shortly addressed.

[2017-02-15 15:50] #34 closed

[2017-02-15 15:50] ZLyanov commented on #65
@mjafin done: the issue is in our to-do list now.

[2017-02-15 15:51] #38 closed

[2017-02-15 15:53] mjafin commented on #44
Sorry about not addressing this sooner, but could you try the `-A` option and see if you get the alternative alleles?

[2017-02-15 15:53] #56 closed

[2017-02-15 16:01] mjafin commented on #64
The short term fix could be just using short overlapping regions in the bed file combined with the fix Zhongwu just pushed https://github.com/AstraZeneca-NGS/VarDict/commit/71223e2e7808d11020facf2cc4deb9e346442593

[2017-02-16 12:26] mjafin opened #66 "Issue with Hisat2 alignments"
I noticed that certain hisat2 alignments produce negative read depths for the reference allele, attaching a bam file.

[chr1test.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/780019/chr1test.zip)

My run call is
[code]
where region bed can just be the region aroud `chr1:111449836-111449837`

The negative values throw R off in strand bias testing.

[2017-02-19 10:35] #64 closed

[2017-02-19 10:37] chapmanb commented on #64
Nikolai, Miika and Zhongwu;
Thanks again for all this analysis and the VarDict fixes. I pushed a version of bcbio that uses smaller chunk sizes to reduce memory from ~5Gb/max to ~1Gb/max based on Nikolai's investigation above. Happy to have better overall memory usage in place, thank you again.

[2017-02-27 08:18] ekazachkova commented on #65
@bramslabbinck, @mjafin we`ve implimented the loop through the array of good variants.
Please look at the [results](https://github.com/AstraZeneca-NGS/VarDictJava/files/802968/results.tar.gz).
Is this what you expect?
Also it will be great to get test data which better demonstrates this case.

Does it also make sense to consider the same update to the somatic postprocessing mode in somdict() metho

[2017-02-27 08:25] mjafin commented on #65
Amplicon aware mode is for tumor-only (not for paired runs) if that's what you mean.

Maybe you raise another issue with `somdict()`?

[2017-03-01 10:29] bramslabbinck commented on #65
@ekazachkova, at first sight it looks ok. Is there a possibility to share the branch so that I can test it myself?

[2017-03-01 14:30] bioinfo-dirty-jobs opened #67 "Vardict result annotation"
Have any hint on  how to annotate  the  vardict results using annovar or snpeff?

[2017-03-02 12:18] ekazachkova commented on #65
@bramslabbinck, sure. Have a look please ([branch](https://github.com/AstraZeneca-NGS/VarDictJava/tree/f_amp_multi-allelic)).

[2017-03-02 12:22] kamyshova opened #68 "Multi-allelic sites for somatic mode (somdict() method)"
We've found out that multi-allelic sites are not called when running the paired variant calling; VarDict takes first allelled variation (like it does in amplicon mode as stated in [#65 issue](https://github.com/AstraZeneca-NGS/VarDictJava/issues/65)).
This logic is implemented in the following code lines:
 https://github.com/AstraZeneca-NGS/VarDictJava/blob/master/src/main/java/com/astrazeneca/var

[2017-03-03 12:10] ekazachkova commented on #65
@bramslabbinck, we have an idea how to fix it but our data is not demonstrative. Could you please provide a data which includes similar case?

[2017-03-06 15:51] mjafin commented on #67
Hi @bioinfo-dirty-jobs,
We don't use Annovar internally (you need a licence unless academic) but SnpEff is brilliant. You can find all SnpEff documentation at http://snpeff.sourceforge.net/SnpEff.html and report any issues at  https://github.com/pcingola/SnpEff/

[2017-03-06 15:51] #67 closed

[2017-03-07 13:23] mjafin commented on #68
Yes please

[2017-03-07 13:26] mjafin commented on #65
@bramslabbinck is the event reported twice in the vcf or just the output of VarDictJava? The vcf generating script should not report a variant twice but there could always be a bug.

[2017-03-07 15:04] bramslabbinck commented on #65
@mjafin I noticed that in the case of overlapping amplicons, events are reported for each amplicon separately in the raw output of VarDict (i.e. tabular output). All specs such as depth, frequency, etc. are calculated solely based on the reads of each amplicon. It would be nice to have an option to report the events by chromosomal position covering all reads of all amplicons overlapping this posit

[2017-03-07 15:35] mjafin commented on #65
@bramslabbinck I think there was a design decision by @zhongwulai regarding amplicons and only reporting the variant of one amplicon (the one estimated to be the "best"). In the vcf you should see each variant reported once only.

[2017-03-07 15:42] bramslabbinck commented on #65
@mjafin I also looked at the output of the VCF file running the var2vcf_valid.pl with the -A option. Also in the vcf file, events are reported per position and per amplicon.

[2017-03-13 15:14] kamyshova commented on #68
@mjafin we did this update, could we ask you about sample data to test it?

[2017-03-14 07:17] Tinalxt opened #70 "What is difference between VarDict and VarDictJava?"
Hi,I am new with VarDict and have problems with it. When I run the runVarDict_BAM.sh in the VarDict-master folder for calling the variants, I called 8 sites that I need, but when I run the version of VarDictJava with the same parameters, I only called 5 or 6 variants that I need. So I want to know whether the VarDictJava filters something or how can I get the same result when I use VarDictJava?

[2017-03-14 09:37] mjafin commented on #70
Hi @Tinalxt, VarDictJava was originally a direct port of VarDict itself but we are in the process of deprecating the Perl version and thus it will be behind VarDictJava in terms of functionality. I would recommend sticking to VarDictJava instead of using vardict.pl.

[2017-03-14 09:37] #70 closed

[2017-03-14 10:32] mjafin commented on #68
I don't think I have any test data. Do you have any cases you can demonstrate? If it works for you I'm happy too. @chapmanb can maybe run the Dream challenge data set after all the current fixes are in to see what happens to our sensitivity and PPV

[2017-03-16 02:00] Tinalxt commented on #70
I got the different vcf when I run the VarDict and VarDictJava. I grep 8 sites that I need. In the result of perl, I got 8 sites that I needed, but in the result of  java, I only got 7sites that I needed. I found what I lost is different from other with "BIAS=2:1". I want to know whether I can set some parameters to not filter the "BIAS=2:1" in the Java version? Thank you!

Perl:
le ss_2.vcf|grep

[2017-03-16 08:40] mjafin commented on #70
Hi @Tinalxt, I think you may have mixed the java and perl labels..?
In any case, the first variant on the second list (missing on the first list) seems to have three forward reads and 76 reverse reads, so likely an issue with strand bias.

There are differences now between the Java and Perl versions like I mentioned as we're planning to drop the perl version altogether. One of the differences that

[2017-03-20 09:41] cbrueffer commented on #66
Is there any more information on this? I'm about to start calling on a big sample set using HISAT2+VarDict and seeing this is a bit disconcerning.

[2017-03-20 09:50] mjafin commented on #66
@cbrueffer you can certainly give it a go. I noticed that, likely due to improper CIGAR strings, VarDict produced negative values for allele depths. As a quick hack, I modified this
https://github.com/AstraZeneca-NGS/VarDict/blob/master/teststrandbias.R#L24
by
[code]
It's not the right thing to do but gets you through.

I got an absolutely stupid number of short indels coming from Hisat2 aligned f

[2017-03-20 12:19] ekazachkova commented on #70
@Tinalxt, it seems that such differences might be caused by fixing the overlapping reads problem [issue#60](https://github.com/AstraZeneca-NGS/VarDictJava/issues/60). If you'd like to check this furher, you could try running previous VarDictJava version (v1.4.8) (or checkout to commit a69332f) against your data to see whether the differences persist.

[2017-03-20 13:46] cbrueffer commented on #66
Thanks for the update! So it just produces a lot of false positives (hopefully easy to filter out), or does it also also result in a false negatives?

[2017-03-20 13:49] mjafin commented on #66
I don't have a benchmark RNA-seq data set so it's all anecdotal at the moment; I have no idea what I'm missing because of Hisat2.

[2017-03-21 10:26] mce1 opened #71 "Does hisat2_extract_snps_haplotypes_VCF.py handle unphased variants correctly?"
Hi there,

I use hisat2_extract_snps_haplotypes_VCF.py to extract snps and haplotypes from a vcf-file. My vcf-files contains some variants which are phased (i.e. 1|0) and a majority which are not (i.e. 1/0). The python script, however, appears not to distinguish between the two but seems to treat all variants as if they were phased. As a result, it constructs haplotypes from snps that are not phas

[2017-03-21 10:39] mjafin commented on #71
Hi @mce1,
I wonder if you used VarDict for any part of your analysis? Your question might be better placed at https://github.com/infphilo/hisat2/issues

[2017-03-21 14:43] #71 closed

[2017-03-29 09:19] jamie-a opened #72 "Error with Amplicon Calling"
2 issues actually;

1) I've prepared an amplicon style bed file as specified, but whenever I run with the -a option I get this error message:

`Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 7
	at com.astrazeneca.vardict.VarDict.toRegions(VarDict.java:185)
	at com.astrazeneca.vardict.VarDict.start(VarDict.java:82)
	at com.astrazeneca.vardict.Main.run(Main.java:134)
	at com.as

[2017-03-29 09:28] mjafin commented on #72
Hi @jamie-a,
To be able to help you better could you provide a slice of your bam file and the region in your amplicon format bed file?

[2017-03-29 09:46] jamie-a commented on #72
Yes for sure, I'll send over email.

[2017-03-29 10:04] jamie-a commented on #72
Hi Miika,

So here's the amplicon bed section specific to one of the variants:

chr16    23641234    23641503    PALB2    .    23641258 23641479
chr16    23641415    23641699    PALB2    .    23641439 23641675

And I've attached an extract of chr16 from the sample in question.

Variant is 16_23641485_T_G.

Cheers,

Jamie.

On 29/03/17 10:28, Miika Ahdesmaki wrote:

[2017-03-29 10:06] jamie-a commented on #72
[chr16.tar.gz](https://github.com/AstraZeneca-NGS/VarDictJava/files/878620/chr16.tar.gz)
So here's the amplicon bed section specific to one of the variants:

chr16    23641234    23641503    PALB2    .    23641258    23641479
chr16    23641415    23641699    PALB2    .    23641439    23641675

And I've attached an extract of chr16 from the sample in question.

Variant is 16_23641485_T_G.

[2017-03-29 11:55] kamyshova commented on #68
@mjafin we've fixed logic in code lines mentioned above plus one more:
https://github.com/AstraZeneca-NGS/VarDictJava/blob/master/src/main/java/com/astrazeneca/vardict/VarDict.java#L703
We`ve replaced analysis of one first variant by analysis of all variants found in the specified position (making a loop through the array of good variants).
The fix produces the following [results](https://github.c

[2017-03-29 12:01] #72 closed

[2017-03-29 12:22] mjafin commented on #72
Thanks Jamie, I like problems that solve themselves :)

You may want to try VarDict again after the fixes in this ticket https://github.com/AstraZeneca-NGS/VarDictJava/issues/68#issuecomment-290067163 are in too.

[2017-03-29 12:28] jamie-a commented on #72
Ah ok -//I guess that relates with #65 as well? Thanks for the info

On 29/03/17 13:22, Miika Ahdesmaki wrote:

[2017-03-29 12:54] mjafin commented on #68
Thanks @kamyshova, nice work.

[2017-03-29 12:56] mjafin commented on #68
Does this fix also https://github.com/AstraZeneca-NGS/VarDictJava/issues/65 (amplicon mode issue at the end of the thread)?

[2017-03-29 13:24] kamyshova commented on #68
@mjafin the fix for #65 is in separate branch https://github.com/AstraZeneca-NGS/VarDictJava/tree/f_amp_multi-allelic and results are present in issue's conversation.
Fixes for this issue are in branch https://github.com/AstraZeneca-NGS/VarDictJava/tree/f_multi_allelic_somdict

[2017-03-29 13:28] mjafin commented on #68
Shall we get these fixes in a release and have the related folks test it on their sides?

[2017-03-29 14:54] kamyshova commented on #68
@mjafin we are ready to do this once @tfenne rebases his pull request

[2017-03-30 12:13] kamyshova commented on #68
@mjafin we've done a new [release v1.5.0](https://github.com/AstraZeneca-NGS/VarDictJava/releases/tag/v1.5.0) which includes the multi-allelic site fixes https://github.com/AstraZeneca-NGS/VarDictJava/issues/68 , https://github.com/AstraZeneca-NGS/VarDictJava/issues/65 and [PR#50](https://github.com/AstraZeneca-NGS/VarDictJava/pull/50).

[2017-03-30 18:51] mjafin commented on #68
@kamyshova beautiful!

@tfenne @bramslabbinck can you check on your respective sides if the issues with VarDictJava are now addressed satisfactorily?

[2017-04-04 14:07] jamie-a commented on #68
@mjafin Hi there, I've just tested the multiallelic calling in amplicon aware mode and it seems to still not be picking them up. I'm looking at a previously validated multiallelic position that has clear evidence in the bam and it's not being called. Worryingly it also seems to not get called when I revert to a 3 column bed file and remove the -a option. It is being called by Unified Genotyper, an

[2017-04-04 14:18] mjafin commented on #68
Please do

[2017-04-04 14:19] jamie-a commented on #68
Sure.

Variant is at 11_108114461
[test.tar.gz](https://github.com/AstraZeneca-NGS/VarDictJava/files/893403/test.tar.gz)

[2017-04-04 23:41] nh13 opened #74 "Hardclips at the start of the read can cause java.lang.StringIndexOutOfBoundsException"
If `n-1 < 0` then the following will cause an `java.lang.StringIndexOutOfBoundsException`.  I think this `if` should have a guard: `0 < n`.  This can occur if the start of the read is hard-clipped.

[code]

https://github.com/AstraZeneca-NGS/VarDictJava/blob/master/src/main/java/com/astrazeneca/vardict/VarDict.java#L1934

[2017-04-04 23:46] nh13 commented on #74
This is also likely an issue:
[code]
https://github.com/AstraZeneca-NGS/VarDictJava/blob/master/src/main/java/com/astrazeneca/vardict/VarDict.java#L1979

[2017-04-05 11:24] kamyshova commented on #68
Hi @mjafin and @jamie-a
Thank you!
We`ll check it.

[2017-04-06 07:19] bramslabbinck commented on #65
@mjafin as requested, I can hereby confirm that the multi-allelic sites in my data are now reported by the software!
I am still in favor of having variants reported solely by chromosomal position. I'll close this issue and open a new issue for this feature.

[2017-04-06 07:19] #65 closed

[2017-04-11 15:08] kamyshova commented on #68
Hi @jamie-a
As we understand you expect a variant at 11_108114461 in the file (test.bed) you've provided.
We found out that this region `doesn't contain` the 11_108114461 position; here is the region for the Chromosome 11:
chr11	108114569	108114839	ATM	0	.	108114595	108114816

VarDict has detected variations in several positions at Chromosome 11, but all of them have been filtered out by isGoodVar

[2017-04-11 15:19] jamie-a commented on #68
Thanks @kamyshova , my mistake, an amplicon was dropped from the bed file, not sure how I missed that!

[2017-04-11 18:23] nh13 commented on #74
Fixed by #50

[2017-04-11 18:23] #74 closed

[2017-04-12 13:39] ATpoint commented on #58
Hello, we are currently starting to use VarDictJava 1.5.0 for our WGS data. Could you be so kind and share your experiences with it and give recommendations about altering the default settings. I noticed some discussion about the filtering (#35 in VarDict) to be used. For me as a user, is there anything you can recommend which is not already stated in the documentation by now?

-Thanks!

[2017-04-17 12:11] kamyshova commented on #68
@jamie-a mainly, the variants are filtered in this method:
https://github.com/AstraZeneca-NGS/VarDictJava/blob/master/src/main/java/com/astrazeneca/vardict/VarDict.java#L5975
For example, a variant appears in the output if:
- variant frequency is more than 25% or reference allele does not have much better mapping quality than the variant;
OR
- the ratio of high-quality reads to low-quality reads i

[2017-04-18 08:20] mjafin commented on #58
Hi @ATpoint, we use VarDict in bcbio with pretty default settings, see the integration code here https://github.com/chapmanb/bcbio-nextgen/blob/master/bcbio/variation/vardict.py

Hope this helps some. Really depends on depth, T/N or tumour-only etc.

[2017-04-18 12:57] schelhorn commented on #58
Defaults are fine; you can play around with the number of cores since it scales linearly at least until 4 cores or so in our setting. Perhaps that makes sense if IO is an issue. Of course, in the end that only results in a different packaging of the jobs. But that really depends on your specific setup.

[2017-04-20 09:59] tamaraprieto opened #75 "Argument "NA" isn't numeric in var2vcf_paired.pl"
Hi,

I am getting the following error when running var2vcf_paired.pl, but only for some of my samples. I am getting the message although the output is being generated anyway. Should I worry about it?

Argument "NA" isn't numeric in numeric lt (<) at /apps/vardictjava/1.4.6/VarDict/var2vcf_paired.pl line 157, <> line 330.
Argument "NA" isn't numeric in numeric lt (<) at /apps/vardictjava/1.4.6/VarD

[2017-04-20 10:32] mjafin commented on #75
Hi @tamaraprieto, sorry about the problem. Could you narrow down to the problematic variants by subsetting the file going into `var2vcf_paired.pl` or does this get generated for all variants?

[2017-04-20 13:13] tamaraprieto commented on #75
Thanks @mjafin. The message goes to the std error of some of the jobs. How can I know to which variants it refers to?

[2017-04-20 13:37] mjafin commented on #75
You can use the `head` and `tail` unix commands to pipe subsets of lines to the function manually at least.

[2017-04-20 14:11] tamaraprieto commented on #75
I have done it and it seems that there is a problem within this line for instance:

[code]

[2017-04-20 18:16] nh13 opened #76 "Update VarDict for whitespace in sample name fix"
I am wondering what needs to be done to get VarDictJava to use this fix in its master branch: https://github.com/AstraZeneca-NGS/VarDict/pull/47

Thanks for helping us out!

[2017-04-21 11:46] mjafin commented on #76
Hi @nh13, the fixes were applied to the `var2vcf` functions that follow and are not part of VarDict perl or VarDictJava. Are you asking us if we could incorporate the `var2vcf` perl scripts into Java at some point?

[2017-04-21 11:46] #76 closed

[2017-04-21 12:13] mjafin commented on #75
Just a few quick standard questions:
- How did you align the data and did you use any explicit realignment algorithms?
- Could you try calling variants using a pipeline like bcbio?

If neither helps, if you can extract a region with one of the problematic variants in a bam file we might be able to take a look on our side

[2017-04-21 13:22] tamaraprieto commented on #75
It was not me who did the processing of reads but what I have been told is that they have been aligned with BWA and sorted. None realignment has been performed. Here you are the bam files in case you can take a look.
[BamTest.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/947142/BamTest.zip)
Thanks a lot

[2017-04-21 13:26] mjafin commented on #75
One more thing, could you try running VarDictJava on the sample instead of the perl version? A lot of bugs have been fixed in VarDictJava but not in the soon-to-be-deprecated Perl version.

[2017-04-21 14:16] nh13 commented on #76
I see that VarDict is a submodule. I think it pulls the master branch of VarDict, is that correct? If so, then I just need to update the submodule to get the version of the script.

[2017-04-21 14:18] mjafin commented on #76
Got it. The guys are on it.

[2017-04-21 15:02] SilinPavel commented on #76
@nh13 Done!
@mjafin Should we release 1.5.1?

[2017-04-21 17:57] nh13 commented on #76
@SilinPavel thank-you!  A release would be helpful so I can update the tag in my docker build.

[2017-04-21 18:00] mjafin commented on #76
Yes please if it helps.

[2017-04-24 08:44] tamaraprieto commented on #75
Hi @mjafin. I have run VarDictJava from the beginning in fact (Version 1.4.6).  Should I try something else?Thanks

[2017-04-24 11:41] mjafin commented on #75
Could you still try VarDictJava `1.5.0` before we start tackling this in more detail please?

[2017-04-24 15:13] tamaraprieto commented on #75
Hi @mjafin I have just tried with version 1.5 and unfortunately I still get the same error.
I think you will also need these files in case you can test it
[ExtraFiles.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/952207/ExtraFiles.zip)

[2017-04-24 16:47] tamaraprieto commented on #75
Hi @mjafin I thought I was still getting the error but I was wrong, using the version 1.5 the error is solved. Thank you very much for your help and sorry for the inconvenience

[2017-04-24 16:58] mjafin commented on #75
Great, thanks for confirming!

[2017-04-24 21:32] SilinPavel commented on #76
@nh13, @mjafin  done!
https://github.com/AstraZeneca-NGS/VarDictJava/releases/tag/v1.5.1

[2017-04-25 10:29] tamaraprieto commented on #75
Hi @mjafin I am still getting the same error with VarDict 1.5 for other positions. Most of the analysis run ok yesterday so I thought it was solved. The number of problematic positions with this vardict version I think is lower. I have created new bam files.

This is how I run the analysis
[code]

And this is the fai of the reference Hg19
[test2.zip](https://github.com/AstraZeneca-NGS/VarDictJava/

[2017-05-16 18:10] samkh918 opened #77 "Multi-sample variant calling by VarDict"
Hello,

My apologies if this has already been addressed elsewhere, I was wondering if VarDict can also perform "multi-sample" variant calling by accepting multiple BAM files as input so that it would retain the 0/0 genotypes of a family member at positions where another family member has a non-REF variant.

Thanks for your help.

[2017-06-02 13:36] zyywmy opened #80 "GC overhead limit exceeded"
When I run VardictJava/build/install/VarDict/bin/VarDict, some jobs were failed due to the memory issue. The error is below. How to fix this issue? Thanks,

Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded
        at java.util.regex.Pattern.closure(Pattern.java:3119)
        at java.util.regex.Pattern.group0(Pattern.java:2912)
        at java.util.regex.Pattern.seq

[2017-06-02 21:50] wendymclee3 opened #81 "Variant not called by VarDict"
I am looking at a variant that is not being called in some samples, but it's not apparent why it is not called when all samples have 500+ read coverage at the locus. The call is not being made by VarDict even before running teststrandbias.R or var2vcf_valid.pl. I am running a version of VarDictJava from March 2017. I am attaching two bam files here, 20170601-D2NGC-S1.PrimaryAlignment.bam is the on

[2017-06-05 07:39] mjafin commented on #77
Hi @samkh918, VarDict is designed more as a cancer variant caller than population caller. Multi sample calling isn't supported and we have no current plans of adding support for multi sample calling.

[2017-06-05 07:39] #77 closed

[2017-06-05 07:40] mjafin commented on #81
Hi @wendymclee3, do you think it's related to this issue https://github.com/AstraZeneca-NGS/VarDictJava/issues/62 ?

@ZLyanov do your team have time to take a look at this at some point?

[2017-06-05 15:24] ekazachkova commented on #81
@wendymclee3 we've run VarDictJava on your data with the following command:
`
-G hg19.fa -b your.bam -c 1 -S 2 -E 3 -g 4 -R chr5:178690725-178690726
`
The variation was detected:
[code]
Could you share VarDict command that you've used?

[2017-06-06 15:25] wendymclee3 commented on #81
${Vardict}/VarDict -G ${Reference} -N tumor -b ${BamFile} -z 1 -c 1 -S 2 -E 3 -g 4 -f 0 -F 0x700 -q 30 -th 1 ${BedFile}

[2017-06-06 16:46] ekazachkova commented on #81
@wendymclee3 thanks so much for the information.
We've used your set of parameters and still got the variation reported.
One thing you could try is changing `-z` option to `0`: it makes an impact if the region with variation starts right at the specified position (e.g. in your situation if the region starts with 178690725 position variation won't be reported).
Please let us know whether it works f

[2017-06-06 17:41] samkh918 commented on #77
Thank you @mjafin for your reply.

[2017-06-06 18:08] wendymclee3 commented on #81
The variant was called only if -R chr5:178690725-178690726 is used, but when using a bed file that contain the locus, that variant was only called in a subset of the samples (all samples are prepared the same way and sequenced together). Here is the IGV screenshot (20170601-D2NGC-S1.PrimaryAlignment.bam didn't get the call, but 20170601-D2NGC-S4.PrimaryAlignment.bam got the call). I am using the l

[2017-06-06 18:09] wendymclee3 commented on #81
The variant was called only if -R chr5:178690725-178690726 is used, but when using a bed file that contain the locus, that variant was only called in a subset of the samples (all samples are prepared the same way and sequenced together). Here is the IGV screenshot (20170601-D2NGC-S1.PrimaryAlignment.bam didn't get the call, but 20170601-D2NGC-S4.PrimaryAlignment.bam got the call). I am using the l

[2017-06-07 12:41] ekazachkova commented on #81
@wendymclee3 thanks for the information. We've expanded the region to `chr5:178690706-178690800` but still can't reproduce your situation. Could you share the BED file that you've used?

[2017-06-16 12:34] OgnjenSB opened #82 "Ouput only Somatic option doesn't seem to work in the latest revision"
In the last revision (and perhaps some earlier ones) the option -M doesn't seem to have any effect on the output. I cross-tested the outputs from the new previous tool with an older version, and the old TSV output from TestSomatic.R with the new tool, and all runs output STATUS=Germline mutations as well.

Do you mind taking a look?

Thanks in advance!

P.S. If I can help in any way, please tell m

[2017-06-16 15:22] mjafin commented on #82
Hi @OgnjenSB sorry about the problems. Do you have any small test data you could show this behaviour on? Just a slice of BAM where you previously saw different behaviour (and let us know which genome you used).

[2017-06-17 17:15] OgnjenSB commented on #82
Thank you very much for a prompt reply. I can give you the data as it is public, I am just not sure how is this done on Git. What is a common practice?
Also,if you have an account on Seven Bridges platform, I can invite you to the project, all the runs are there, with files and logs.

Thanks again!

[2017-06-19 11:41] nkarulin commented on #82
Hello @OgnjenSB

You could try to test c04bfdec2c0cd26cb087fdef917394c5b2e28a39 revisoin.

There were changes from @tfenne, that "clean up" CIGAR replacing insertions cigar elements by softclip in some cases. But in that cases an amount of filtered by option -M reads should only increase.

Call you please share launch parameters on which you expect the behavior?

[2017-06-19 12:09] sanja-m commented on #82
Hi @mjafin.
Thank you for a response!

Here are the test files, only five mutations were extracted, 4 SNVs and 1 indel. Bed file with covered positions is also attached. The reference genome is grch37.
Also want to point out that we got the same results (the same number of mutation) when we turn on the parameter -M in command line, and when we do not. There are lines with STATUS=Germline mutations

[2017-06-19 12:59] sanja-m commented on #82
So sorry for the error in the archive I sent in previous comment, here is the correct one.
Once again, so sorry for the inconvenience.

[BAM_files_for_testing.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/1084954/BAM_files_for_testing.zip)

[2017-06-20 16:00] ekazachkova commented on #81
@wendymclee3 thanks again for the information. Unfortunately, we still can't reproduce this bug. We've run the latest version of VarDictJava (https://github.com/AstraZeneca-NGS/VarDictJava/releases/tag/v1.5.1) on your data [[bamFiles.tar.gz](https://github.com/AstraZeneca-NGS/VarDictJava/files/1088787/bamFiles.tar.gz)] using the following command:
[code]
We've got these outputs for both BAM files:

[2017-06-22 13:33] kamyshova commented on #82
Hello @sanja-m
M option just tells VarDict to skip reads with length of match (with insertions) region less then M. The majority of reads in your samples has match region length equal to 101 (7147 reads in normal and 7212 in tumor). The distribution of reads with other match regions lengths is in the chart below.
![reads dist on match length](https://user-images.githubusercontent.com/23356251/2743

[2017-06-22 14:02] OgnjenSB commented on #82
Hello @kamyshova ,

I apologize sincerely for not being more explicit. We were talking about var2vcf_somatic tool, and the -M option that is supposed to output only somatic mutations, but seems to output all of them. We mistakenly steered you towards the main Java Tool which works fine for us.
Sorry again for the confusion!

[2017-07-04 15:00] OgnjenSB commented on #82
Hi!
Just a small reminder, although I am sure you are quite busy. Did we clearly communicate the problem, or do you need more info from us?

Thanks!

[2017-07-10 16:12] ATpoint opened #83 "Variant classified as StrongSomatic, but clearly germline"
Hello,

I am using VDJ on a matched tumor-normal WGS sample, with the command below. Sometimes I notice that variants classified as StrongSomatic in the VCF show the same mutation at similar frequency in the matched control (manual inspection on IGV browser of the used BAMs). It would be great if you could look into it.

The command was the followjng:

`VarDictJava -G $HG38FA -f 0.1 -N $SAMPLENAME

[2017-07-12 00:03] datakid opened #84 "Unclear documentation re reqs for release zip/tar"
I am installing VarDictJava in a multiuser cluster environment, using environment modules to control.

The "Getting the Source Code" Documentation suggests that Perl is a req.

The Releases page offers a tar/zip download that only contains .jar files.

If I am using the release zips - are they jar only? Do I need to account for samtools or perl in my environment set up?

In particular this line

D

[2017-07-12 00:46] datakid commented on #84
I guess I'm confused as to whether VarDictJava is a complete drop in replacement (as the "releases" zip/tar would indicate) or if the VarDict-<version>/VarDict directory (as per the getting source/compile recommends) is actually an installation requirement.

I think the docs need an Installation section that addresses what is needed after (the end of compilation section|unzip the release). Is it e

[2017-07-12 01:27] datakid commented on #84
Ah! The first example

Would indicate that yes, *as well as* the bin and lib, a clone of the perl version of VarDict is required at the same root?

[2017-07-12 01:35] datakid commented on #84
I guess the next question is - given that the perl version of VarDict is still required for some functions - does samtools still need to be on the PATH as well?

[2017-07-12 08:08] mjafin commented on #84
Hi @datakid, thanks for your interest in VarDict and sorry about the confusion in the documentation.
VarDictJava is a drop-in replacement of `vardict.pl` only and the following piped R (`teststrandbias.R` / `testsomatic.R`) and perl (`var2vcf_valid.pl` / `var2vcf_paired.pl`) scripts are still required to be available. So yes, you will need to have Rscript and perl available in the environment.

Sa

[2017-07-24 19:14] zhongwulai commented on #83
@ATpoint, thank you for your feedback and sending the example data.  After some digging, I think I found the root cause.  First of all, this region is close to centromere and has very low complexity.  In WGS of NA12878 (~50x), the peak coverage is 70,000.  That means any variant called in this region is not reliable as many similar alleles are piled up (see coverage image below or attached, where

[2017-07-24 19:43] ATpoint commented on #83
Hi Zhongwu, thank you very much for the detailed answer. Concerning the low complexity regions you mentioned, do you know if these show significant overlaps with the commonly used [ENCODE blacklists](https://sites.google.com/site/anshulkundaje/projects/blacklists)? If not, how should I create them? I think the most straight-forward way would be to take some commonly used WGS datasets like NA12878

[2017-07-26 11:02] sanja-m commented on #82
Hello,

@mjafin, @nkarulin Are there any news on this topic? Thanks.

Best

[2017-07-26 13:50] ATpoint commented on #83
Thank you very much for the detailed answer. For the future, I will probably exclude all variants with a depth more than 2-3x the mean coverage.

[2017-07-26 13:50] #83 closed

[2017-07-28 15:26] kamyshova commented on #82
Hello, @OgnjenSB
This is VarDict Java repository, so it's better to refer this issue to the original Perl VarDict repository.
As far as we understand, var2vcf_somatic.pl was deprecated in favour of var2vcf_paired.pl.
Perhaps you should try using the var2vcf_paired.pl script.
Hopefully @mjafin will respond in more detail on Monday.

Sincerely

[2017-08-01 11:16] mjafin commented on #82
Yes, please use `var2vcf_paired.pl` and not the deprecated `var2vcf_somatic.pl` script.

[2017-08-01 11:16] #82 closed

[2017-08-07 02:43] MIAOKUI opened #85 "what's the different between var2vcf_somatic.pl and var2vcf_paired.pl"
Hi
I do somatic mutation in paired mode. I notice that the latest version of vardict and vardict java the github quick start replace var2vcf_somatic.pl with var2vcf_paired.pl.
What's the difference between these two filtering script. Should replace in our old pipeline ?

[2017-08-07 08:09] MIAOKUI opened #86 "Different mutation between vardict and vardictjava"
Hi

I try to compare vardict and vardictjave with same parameter, but I got about half of the mutation different from each others. The command as follows
vardict java
#!/bin/bash
/gpfs/software/pipeline/softwares/VarDictJava/build/install/VarDict/bin/VarDict -f 0.001 -c 1 -S 2 -E 3  -G /gpfs/software/pipeline/pipeline/database/ref/hg19/hg19.fasta -N "tumor|normal" -b "./tumor.final.bam|normal.fina

[2017-08-07 08:30] mjafin commented on #85
Hi @MIAOKUI, `var2vcf_somatic.pl` has been deprecated some time ago already in favour of  `var2vcf_paired.pl`. Please use only `var2vcf_paired.pl`. Sorry about the confusion.

[2017-08-07 08:30] #85 closed

[2017-08-07 08:31] mjafin commented on #86
VarDictJava has new features and functionality (such as not double counting variants in overlapping mates) not implemented in VarDict perl. I would suggest using VarDict Java.

[2017-08-07 08:31] #86 closed

[2017-08-28 16:25] ExpressionAnalysis opened #87 "Malformed query"
I'm getting this error and I need some help figuring out what's wrong with my bam file.  No read has this start position.  Any pointers would be greatly appreciated. Thanks
java.util.concurrent.ExecutionException: htsjdk.samtools.SAMException: Malformed query; start point 27662 lies after end point 0
        at java.util.concurrent.FutureTask.report(FutureTask.java:122)
        at java.util.concur

[2017-08-30 08:51] mjafin commented on #87
Hi @ExpressionAnalysis, sorry about the problem you're experiencing. It would help us help you if you let us know the command you're using to call VarDictJava as well as a sample of your bed and bam files.

[2017-11-01 20:38] dgellerup opened #89 "Malformed query; start point lies after end point + Error in scan: line did not have 34 elements"
I am using the following command:

AF_THR=0.01
vardict-java -D -G reference.fa -f $AF_THR -N SmoothMuscle -b SmoothMuscle_sorted.bam -c 1 -S 2 -E 3 -g 4 SmoothMuscle_sorted.bed | teststrandbias.R | var2vcf_valid.pl -N SmoothMuscle -E -f $AF_THR > SmoothMuscle.vcf

I received this error message:

Exception in thread "main" htsjdk.samtools.SAMException: Malformed query; start point 386 lies after en

[2017-11-13 19:19] mjafin commented on #89
Hi @dgellerup, Apologies for the late reply. Just to confirm your bam files are BWA-mem aligned and you modified them somehow using bbTools?

If you were able to narrow down the exact locus where this happens by trying subsets of the bed file maybe you can identify a region that you could slice off the bam?

[2017-12-01 15:45] drsuuzzz commented on #89
i found that this warning happens when VarDict is given a bed file with regions of length 1 bp.  By removing these from the file, VarDict continues without errors.  But this implies that there is a n-1 <=0 problem that is not handled correctly by VarDict.

[2017-12-01 15:48] mjafin commented on #89
@drsuuzzz Thanks for the heads-up. Can you give an example bed line please and your run command?

[2017-12-01 16:18] drsuuzzz commented on #89
Sure.
bed line:

chr1\t3782375\t3782376\tuc009vln.1_cds_2_0_chr1_3782376_f\t0\t+

and
run command

VarDict -th 8 -G hg19.fa -f $VARDICT_FREQ -N $prefix -b ${tnbam} $VARDICT_PARAMS coding.bed 2>${prefix}.vardict.errs | Rscript testsomatic.R | perl var2vcf_paired.pl -N ${tnname} -f $VARDICT_FREQ $FILTER_PARAMS > ${prefix}.somatic.vcf

[2017-12-01 16:19] drsuuzzz commented on #89
oops. You may need this.  I don't think it matters but just in case
VARDICT_PARAMS="-k 0 -Q 20 -z 1 -c 1 -S 2 -E 3"
VARDICT_FREQ=0.1
FILTER_PARAMS="-S -M -I 6 -P 1 -d 20"

[2017-12-02 21:46] akt68 opened #90 "Malformed vcf, alt = ref allele"
Output vcf contains entry with ALT allele equal to REF allele and genotype 0/1:
`17      41231876        .       A       A       80      q25     SAMPLE=test;TYPE=Complex;DP=145;END=41231876;VD=15;AF=0.1034;BIAS=2:2;REFBIAS=111:16;VARBIAS=11:4;PMEAN=22.5;PSTD=1;QUAL=20.7;QSTD=1;SBF=0.22873;ODDRATIO=2.50171;MQ=70;SN=2.75;HIAF=0.2444;ADJAF=0.1034;SHIFT3=0;MSI=1;MSILEN=1;NM=2.5;HICNT=11;HICOV=45;LSEQ=

[2017-12-04 08:52] sluke123 commented on #90
Sorry you are having problems. Is it possible to paste the top ~30 lines of the bedfile here?

[2017-12-04 16:27] akt68 commented on #90
The minimal bed I used to reproduce the issue has only two lines. This is the complete bedfile:
`17	41231586	41231876	A1	100	+	41231609	41231850`
`17	41231760	41232032	A2	100	+	41231783	41232009`

[2017-12-05 08:48] nkarulin commented on #90
Hello, @akt68! Could you please send me those bam and bed files to reproduce the situation via email: Nikolai_Karulin@epam.com. We'll try to figure out a solution.

[2017-12-06 11:42] nkarulin commented on #90
@akt68, thank you for provided data. We have successfully reproduced the situation on the several VarDict versions including original perl version.
It seems the problem is somewhere in the local realignment part. Disabling local realignment with `-k 0` argument removes this strange vcf entry from the output.
@akt68, is this the only entry of that type you faced on the data, or there were other cas

[2017-12-11 11:53] akt68 commented on #90
I did see a handful of cases like this among the 850 samples in this project (amplicon sequencing with Fluidigm Juno library prep, ~1000 amplicons). Unfortunately, I deleted the whole analysis and reran with different settings and added a filter to remove entries with REF eq ALT so I don't have any other examples saved or notes on which samples / variants were affected.

[2017-12-21 13:45] nkarulin commented on #90
@akt68, don't you mind to have a look at https://github.com/AstraZeneca-NGS/VarDictJava/pull/91 PR and give it a try. There is a small fix, which removes the strange alt = ref allele from the data you have provided.

[2017-12-25 06:32] liuyixiao opened #92 "malformed DP:VD"
GT:DP:VD:ALD:RD:AD:AF:BIAS:PMEAN:PSTD:QUAL:QSTD:SBF:ODDRATIO:MQ:SN:HIAF:ADJAF:NM     1/1:86:131:46,85:0,0:0,131:1:0,2:17.1:1:33.4:1:1:0:54.4:130:1:1:3.7     1/1:11:13:3,10:0,0:0,13:1:0,2:22.6:1:33.4:1:1:0:53.5:26:0.8125:1:3.8

VD'‘s value is larger than DP’s

[2018-01-04 08:50] sluke123 commented on #92
Sorry to take so long to get back to you. Can you provide more details please - options used, bed file etc.

[2018-01-10 07:41] liuyixiao commented on #92
thanks for your reply， the options i used as follow

./VarDictJava/build/install/VarDict/bin/VarDict -f 0.001 -c 1 -S 2 -E 3 -th 1 -G hg19.fasta -N "PM2017121620|PM2017121411" -b "t.part3.bam|t.part3.bam" part3.bed | ./VarDictJava/VarDict/testsomatic.R > PM2017121620.part3.step1.txt

less PM2017121620.part3.step1.txt | ./tools/VarDictJava/VarDict/var2vcf_paired.pl -N "PM2017121620|PM2017121411" -f

[2018-01-11 08:54] PolinaBevad commented on #92
@liuyixiao , thanks for information!
We have assumptions about cause of the problem. Could you please send a part of BAM file to reproduce the situation with malformed fields in VCF via email: polina_bevad@epam.com .
Similar problem was here: https://github.com/AstraZeneca-NGS/VarDict/issues/54 , but in that issue AF was >1 when VD>DP (unlike your case with AF=1).

[2018-01-16 10:08] nkarulin commented on #80
@zyywmy, what BED file do you use?
VarDict uses memory linear to individual segment size in BED file. So a very huge segment in BAM will require too much memory and likely will cause OutOfMemoryError.

If huge segment is the reason, you could fix it by splitting segment on smaller ones.
Another variant is to give JVM more memory by setting `VAR_DICT_OPTS` environment variable, or changing `DEFAULT

[2018-01-16 14:05] nkarulin commented on #89
Hello, @drsuuzzz !
Are you sure, that the reason is presence of 1-length regions?
It looks like your BAM file does not contain the sequence that is in the BED in its header. Is that the case?

[2018-01-16 18:37] drsuuzzz commented on #89
Hi! Yes, I'm sure.  Didn't provide a BAM file though.  Could you be responding to a different issue?

[2018-01-17 11:49] nkarulin commented on #89
The point is that in general VarDict correctly handles 1-length regions. At least there in no runtime exception.

But you will sure have htsjdk.samtools.SAMException with that stacktrace if your BAM does not contains `@SQ` field in its header with value of your region's chromosome.

Could you please show at least your BAM file's header and a BED line which was removed to avoid the exception?

[2018-01-17 14:56] nkarulin commented on #87
@ExpressionAnalysis, there is no read, which has this start position, because the error happens during reference query, not BAM.
Such an exception could happen if your BAM does not contain `@SQ` field in its header with value of your region's chromosome. That is because VarDict have takes information about chromosomes length from BAM header, and if there is no given sequence in header, VarDict put

[2018-01-19 14:19] jamie-a opened #94 "Seemingly incorrect AMPBIAS flag added to indel"
Hi there,

I'm running in amplicon aware mode with the appropriate bed file and I'm having an issue where a variant is being flagged as having amplicon bias even though there is only a single amplicon covering it.

The bed file for the region is:

chr13	32931739	32932002	BRCA2	0	.	32931766	32931978
chr13	32931857	32932127	BRCA2	0	.	32931884	32932103
chr13	32936555	32936831	BRCA2	0	.	32936581	32936

[2018-01-26 12:32] NataliaLeznikova commented on #43
Hello,@alexanderwhatley!

Unfortunately we couldn’t reproduce the error, but we found that ‘cpu=times’ argument of ‘-Xrunhprof’ option often leads to many application's crash, not only VarDict. That is why it seems that the problem is not in the VarDict application, but in the profiler.

If this is not the case, please share VarDict launch options: what parameters have you used and what files trie

[2018-01-30 18:38] PolinaBevad commented on #92
We have found a strange behavior of realignment for some Deletions and Long Insertions/MNPs. During the study we have looked through them in genome browser and now suppose that VD calculation for these variations isn't correct. For example, on public data NA12878 we have got these variations with **VD>DP** on Deletions:

hs37d5 26089254 . GTGTAATGGAA G 87 PASS SAMPLE=NA12878.mapped.ILLUMINA.bwa.CE

[2018-02-04 20:52] kscheffler opened #95 "Whole-genome runs"
Is there a recommendation for how to run VarDict on a whole-genome tumor-normal pair? I saw some old mentions of a bed file for this purpose in issues on the VarDict distro (linked below), but I don't see the bed file itself. Based on numbers given there and on VarDictJava being 10x faster, I imagine it should run in <12 hours on a single node.

https://github.com/AstraZeneca-NGS/VarDict/issues/18

[2018-02-05 08:39] mjafin commented on #95
Hi @kscheffler, the easiest way to run VarDict in parallel is via bcbio-nextgen. If you want to manually run VarDict it's good to split the genome into short intervals as VarDict's memory use depends on the interval lengths.

[2018-02-05 16:32] kscheffler commented on #95
Ok, thanks - I'll give it a try.

[2018-02-08 22:33] annaquaglieri16 opened #96 "Exception in thread "main" java.lang.NullPointerException"
Hi there,

I am trying to run VarDict on my RNA-Seq data and I keep getting the same error but cannot understand the cause. I ma running it in the most simple way just to debug it.

genome_fasta=/home/users/allstaff/quaglieri.a/PHD_project/GEO_Leucegene_data/genomes/hg19/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa

less $genome_fasta

unix402 639 % less $genome_fasta

GATCACAGGTCTAT

[2018-02-09 09:06] mjafin commented on #96
Hi @annaquaglieri16, VarDict should really be run on subsets of the genome, that is you need to provide coordinates where you want to call variants in. I would suggest turning to a pipeline engine such as bcbio-nextgen to analyse your samples as the details of manually parallelising VarDict can be quite daunting.

[2018-02-09 09:06] #96 closed

[2018-02-12 11:28] lituan opened #97 "missing '-th' parameter"
Hi,

I install vardict as documented, but did not find '-th' parameter in ' perl vardict.pl -h', then I tried to add '-th 2' but got errors

[2018-02-12 11:32] lituan commented on #97
I find the '-th' parameter, I did not use the right version of vardict before

[2018-02-12 11:32] #97 closed

[2018-02-12 15:08] jamie-a commented on #94
Hi @mjafin I just wondered if anyone is looking into this issue?

[2018-02-14 15:41] bwubb opened #98 "Empty output in amplicon mode"
Greetings,

  I am attempting to run VarDictJava amplicon mode on single read data that was created from merging paired amplicon reads. I do not receive any errors or output. As far as I can see my bam file looks fine, its mapped, and validates checks, and GATK has been able to use them successfully. Perhaps there is some other silent incompatibility/requirement with single end data? Issue #63 see

[2018-02-14 16:03] mjafin commented on #98
Hi @bwubb, I don't think we have any expertise in running single read data in amplicon mode. Is it possible to use the original paired end data instead?

[2018-02-16 17:07] bwubb commented on #98
Hi @mjafin , I certainly can and will work that up. I assume then, there is some sort of read pair check? I read somewhere that merging amplicon paired reads that overlap into a single read is better for global/local alignment, but I dont really know if that is true.

Anyway if this is not any sort error/bug then we can close this issue.

Thank you for the reply!

[2018-02-19 10:18] grozhnev commented on #17
@landesfeind

If still relevant, the answer is that :
'-q' param is the phred score rate that is related to estimated probability of an error,
'Qmean' is the value that is related to the sum of mapping qualities (5th column in SAM) for variant.

So, as it is clear from the description of each parameter, this two values are not related and don't depend on each other.

The complete description of th

[2018-02-20 14:55] #17 closed

[2018-02-21 22:42] nh13 opened #99 "Time for a new release?"
As well as a submodule update to VarDict?

[2018-02-22 10:48] iranmdl opened #100 "java.lang.NullPointerException"
Hello!

 I'm trying to run `VarDict` java version using GRCh38 genome, the tool works fine with GRCh37. This is the command I'm using:

`../bin/VarDict -G Homo_sapiens_assembly38_noalt.fasta -f 0.01 -N tumor_R1_sorted_dedup_recab_realigned -b "/BAMs/tumor_R1_sorted_dedup_recab_realigned.bam|/BAMs/WT_R1_sorted_dedup_recab_realigned.bam" -th 8 -C -c 1 -S 2 -E 3 -g 4 bed_files/covered_segments_GRCh38

[2018-03-05 10:54] iranmdl commented on #100
Hello!
Any news about this? :-)

[2018-03-13 14:11] OgnjenSB opened #101 "VarDict realignment issue"
Hello!

There are certain issues with realignment that create false positives. I am unsure if they all originate from the same edge case, but sometimes realignment changes the local layout in what appear to be clear germline mutations. It happens almost always on 1/1 germline variants, and as a result, the VAF changes significantly, sometimes becoming 0/0 call and causing a somatic 1/1 false posit

[2018-03-15 18:34] bwubb commented on #98
Re-running from paired read data did not actually yield any variants either. Perhaps VarDict amplicon is not compatible with alignments made with bbmap? My next test, will have to be a bwa alignment.

[2018-03-16 10:29] mjafin commented on #98
@bwubb Apologies, I didn't realise you had used another aligner. Yes we would recommend using bwa and VarDict should work with both paired and singleton alignments. That said, you'll have much better success in amplicon mode if you have paired reads.

We've also tried MiniMap2 and as it produces bwa-like alignments it should work OK too.

[2018-03-16 16:14] bwubb commented on #98
@mjafin No need to apologize because I did not mention it; instead thinking it was the single-end reads and focusing on that. While this is starting to deviate from the original topic, I was hoping you might be able to explain or point me to what criteria VarDict might look for in a read to ignore? Perhaps there is something I can change about my bams.

[2018-03-19 13:06] mjafin opened #102 "VarDictJava not reporting EGFR variant, perl version does"
[L861Q_chr7_55259523-55259525.zip](https://github.com/AstraZeneca-NGS/VarDictJava/files/1825040/L861Q_chr7_55259523-55259525.zip)

See difference between:
[code]
and
[code]

[2018-03-19 18:53] #100 closed

[2018-03-19 23:28] annaquaglieri16 commented on #96
Sorry for my huge delay! But I stopped working on that project for a while. Thanks for your help. That makes sense!

Anna

[2018-03-20 15:35] mjafin commented on #60
This seems to have come back to bite us. I noticed it with a missing EGFR L861Q variant. Analysis by EPAM:
[code]
I don't know yet how prevalent this would be but definitely a source of false negatives.

[2018-03-21 13:33] PolinaBevad commented on #102
@mjafin, hello!
The reason of difference between perl and java is the change from this commit: https://github.com/AstraZeneca-NGS/VarDictJava/commit/feb1c2f480277ca8101ec633b4307c01e8126258
This solution was discussed in issue **Handling of overlapping reads from short inserts** #60.

The case for this variation is: almost all mates for the reads on this position are overlapping, so the CIGAR proc

[2018-03-21 13:36] mjafin commented on #102
Thanks for getting to the bottom of this @PolinaBevad. Let's have a collective think about the best way forward as clearly the current approach is not detecting bias correctly.

[2018-03-21 13:53] mjafin commented on #102
I wonder if we changed the logic of the algorithm to use R1 instead of strand? My thinking is that R1 and R2 should be randomly / evenly aligning to either strand. Any flaws in my thinking?

So in effect (e.g.) R1 would always be read completely and R2 would only be read for the part where it doesn't overlap with R1

[2018-03-21 13:57] chapmanb commented on #102
Miika, thanks for spotting this. Polina -- thanks for this detective work and identifying the underlying issue. Is it possible to have a random assignment of CIGAR trimming to the forward or reverse strands for overlaps so we don't introduce apparent bias? There would still be some decrease in frequency relative to consensus building, but it would resolve the most apparent change.

(while I'm writ

[2018-03-21 14:17] mjafin commented on #102
My thinking is that however we pseudo-randomise the process it needs to be reproducible and not based on any random number generator (i.e. two subsequent runs should produce the same result). One of the following might work:
- R1 vs R2
- Sum of read name ascii numbers with processing of forward strand for even result and reverse strand for odd result
- Something else...

[2018-03-21 15:13] tfenne commented on #60
@mjafin I think the problem is that the observations are removed in a biased way - i.e. it looks like when there are overlapping reads that the forward observations are always removed, which is problematic.  Rather than undoing the existing change, I think the right thing to do is to randomize which observation is removed to ensure that the balance of both +/- and F/R is preserved.  In your exampl

[2018-03-21 15:27] chapmanb commented on #102
Miika -- being reproducible makes sense, but we should be able to do with random removal by setting a consistent seed to whatever we use for the randomization. That should hopefully be more straightforward than relying on something external for pseudo randomization.

[2018-03-21 15:54] mjafin commented on #102
From @zhongwulai:
[code]

[2018-04-03 17:33] mjafin commented on #60
Is anyone in favour or against using R1/R2 instead of +/- strand to decide which of the overlapping reads to use?

[2018-04-03 19:26] tfenne commented on #60
@mjafin I think the right thing to do would be to just randomize - where the pair overlap use an RNG to make the decision.  E.g. generate a number between 0 and 1, and if < 0.5 discard R1 else discard R2.  That way it's hard to introduce any systematic bias.  I worry that using R1/R2 you'll fix the strand bias problem, but could, e.g. create a position in read bias problem.

[2018-04-04 07:48] mjafin commented on #60
@tfenne
Thanks for chiming in. The issue I can see with the RNG approach is that we'd have to store read names in memory wouldn't we? This would increase the memory footprint and is something I'd like to avoid as it will be unpredictable.

[2018-04-20 16:46] bkohrn opened #103 "VarDictJava Depth issue in high-depth, high-indel area"
I'm working with a high-depth(~20,000+) high-indel short (~300bp) sequence area.  I was running VarDictJava with the following command:

`~/bioinformatics/programs/VarDictJava/build/install/VarDict/bin/VarDict -G ~/bioinformatics/reference/2018_02_ref/TrafficLight_sequence_2018_02.fasta -f 0 -N TL-DSB-171116-A1 -b TL-DSB-171116-A1.sscs.sort.rg.realign.bam -m 1000 -P 1000 -f 0 -K -V 0 -o 0 -q 0 -B

[2018-04-24 08:26] koriege opened #104 "running time/question on -th parameter"
Hi,

I recognized a strange behavior, that independent of the presence of the '-th' parameter or an assignment of '-th 1' or '-th 100' I stick to 40 threads on 56 cores, 80 on 128 cores respectively. I want to call somatic variants from multiple paried mouse WGS experiments (each 2x20GB SAM) which takes very long ~12h each. Is this normal?

My commands
vardict -R chr1:1-195471971 -G $genome -f 0.0

[2018-04-24 08:39] mjafin commented on #103
Hi @bkohrn , the reason for this is that the Java version (which is ahead of Perl in development) of VarDict counts fragments rather than reads. For overlapping paired reads the true depth is reflected better by the Java version.

[2018-04-24 08:39] #103 closed

[2018-04-24 16:49] bkohrn commented on #103
I don't think that's the problem.  The depth reported by the Perl vardict is much higher (~ 10000 higher), and matches the count in IGV better.   The reads are non-overlapping (they've been run through fgbio's ClipOverlappingReads method), so that shouldn't be an issue.

[2018-04-24 17:55] bwubb commented on #98
My apologies that I left this open for so long. The issue was with bbmap.

bbmap is one of the aligners that uses the full header present in your fasta file when creating the index and passes it along to alignment file. If there are spaces in the header name they are written to alignment. Some downstream programs have a problem with this.

You can use the option "trd=t" to truncate the fasta heade

[2018-04-24 17:55] #98 closed

[2018-04-25 21:45] gandalfone opened #105 "VarDict can't seem to detect AF at 0.01 or lower"
I have 3 artificial SNPs with AF exactly at 0.01, 0.02 and 0.05 in my duplex UMI-tagged paired reads.  After grouping by UMI and consensus building, VarDict was used for variant calling.   The minimum AF was set at 0.005.  But the SNP with AF at 0.01 never gets called.  The SNPs at 0.02 and 0.05 are called exactly as expected.  If I bump up the AF of the first SNP to slightly above 0.01 (e.g., 0.0

[2018-04-26 07:32] mjafin commented on #105
Hi @gandalfone, sorry about the problem you're seeing. There shouldn't be any hard AF threshold in VarDict. Are you using the Perl or Java version?

[2018-04-26 17:45] gandalfone commented on #105
Hi @mjafin, Thanks for your reply.  I am using the Java version.  It does look strange, since if I just increase the AF of the same SNP to slightly above 0.01, it will be called fine.  I'll look more on my side, and also try the Perl version.

[2018-04-27 08:03] mjafin commented on #105
If the Perl version sees the variant it could be down to this bug https://github.com/AstraZeneca-NGS/VarDictJava/issues/102

What AF do other callers call the variant at?

[2018-04-30 17:17] gandalfone commented on #105
@mjafin : The perl version worked fine for the same data set.  So it could be due to the issue specific to the Java version.  We have not had a chance to try the other callers yet.  Thanks much for the tip.

[2018-05-14 15:48] jamie-a commented on #94
Any update on this at all @mjafin ? I'm happy to provide more information if needed.

[2018-05-15 12:08] PolinaBevad commented on #94
Hello @jamie-a,
Could you please send the part of bam file with this region to polina_bevad@epam.com? I will try to find the cause of this behavior.

[2018-05-15 12:51] jamie-a commented on #94
Shall do, thanks Polina.

[2018-05-17 09:14] PolinaBevad commented on #94
Hello @jamie-a ,
I received your data and reproduced the issue.

It looks like there are some problems in multi-allelic cases. There was a fix in VardictJava to support multi-allelic site here (https://github.com/AstraZeneca-NGS/VarDictJava/commit/bc9cd4b85d3c1f81a7bc32bea74160d9e729e3ae), so some logic differs from perl version. Perl uses only first allele and AMPFLAG will be 0. So maybe we must

[2018-05-18 14:55] kjass001 opened #107 "(dinucleotide) variants not found VardictJava"
Hi,
We tested our new pipeline with the VardictJava variant caller on ampliseq data. We used a publicly available fastq generated from HD734 (horizon dx; 1.3% tier) with the cancer hotspot v2 panel (Illumina). This control sample harbors multiple variants on the same/adjacent position (eg. KRAS G12V/D/A/C/R/S & BRAF V600E/G/K/M/R).
First, we get only few variants per genetic position (kras G12 two

[2018-05-18 15:06] mjafin commented on #107
@polinabevad is your team able to look at this one too? I recall we fixed some issues in the past with MNPs but can't find the issue or fix.

[2018-05-21 01:15] zhongwulai commented on #107
This is unique situation for synthetic samples, where multiple mutations can happen at the same position.
 You need to add option "-A" in var2vcf_valid.pl script to generate the VCF file.  By default, only one genotype per genomic position is output to VCF.  -A option will output all high quality variants.

[2018-05-21 07:57] mjafin commented on #107
Ah, I was looking for the `-A` option but in the wrong place (VarDict command itself). @kjass001 let us know if this doesn't help you an we'll reopen.

[2018-05-21 07:57] #107 closed

[2018-05-22 13:55] kjass001 commented on #107
Works perfect!
Thanks a lot

[2018-05-23 02:27] zhongwulai commented on #107
@kjass001 Great!  Thanks for getting back!  Maybe we should think about have -A option as the default.

[2018-06-14 06:53] smzt opened #109 "Some high frequency SNVs are not called"
Dear developers,
I'm running VarDict with some control samples from Horizon. These reference DNAs have known variants that have been genotyped with other non-NGS techniques so their frequency is known. From the list of variant they provide, variant frequencies vary from 1 up to 93% for one of the reference samples.

I'm unable to see these 6 variants in my results from a total of 37 variants that

[2018-06-28 05:01] TMiguelT opened #111 "Add utility scripts (teststrandbias.R, var2vcf_valid.pl) to release distributions"
I'm not sure what the release process is, but would it be possible to include the required binaries like:
* var2vcf_valid.pl
* var2vcf_paired.pl
* teststrandbias.R

to the `bin` directory for releases?

[2018-07-02 04:51] pengyuguai commented on #24
I got the same issue here. Like mortunco, I built it myself as well because the release version did not contain the testsomatic.R script inside, which was part of the procedure in the example.
Why this issue is closed? Obviously, the problem remained unsolved. When I ran ./gradlew clean javadoc I got the error Execution failed for task ':javadoc'.

[2018-07-02 09:05] cbrueffer commented on #99
Two releases since this PR was opened, I guess it can be closed now?

[2018-07-04 13:26] mjafin opened #113 "VarDictJava dies silently when bed file has (at least) 9 columns"
As described, if a bed file has too many columns, no variants are called but there is also no error message

[2018-07-05 15:07] PolinaBevad commented on #113
@mjafin , thanks for finding the issue!
In Perl amplicon mode is enabled only if bed consists of exactly 8 columns and columns №7 and №8 contains numbers (it is checked by regexp). Java has another implementation: if columns > 7, then it will suggest that mode is amplicon and try to read columns №7 and №8. If they aren't numbers, Java falls without errors while parsing these values.
We can fix it

[2018-07-05 15:42] mjafin commented on #113
Yes, brilliant, please implement.

[2018-07-13 01:43] ahwanpandey opened #117 "varDict not adding P0.05 status to FILTER column"
Hello,

I have noticed that vardict is not adding the "P0.05" status into my filter columns. Here is part of the results from a small test dataset

[code]

It is also labeling variants as "PASS" even when SSF=1

[code]

Please help me understand what is going on!

Thanks.

[2018-07-13 05:42] ahwanpandey commented on #117
If I use [var2vcf_somatic.pl] instead of [var2vcf_paired.pl] then I get the P0.05 filter

But I thought that [var2vcf_somatic.pl] has been deprecated?

https://github.com/AstraZeneca-NGS/VarDict/issues/46

[code]

[2018-07-19 08:53] fournst opened #118 "Variant frequency options for monomer and non-monomer MSI"
Hello,

I'm currently working on a DNASeq pipeline project containing vardictJava, which is a very powerful tool.

I figured out that some complex variations (from our datasets) are not called by Vardict. Most of time, those variations are located near from repeated regions and some of them are well known to be causal (4 & 5 class), such as the MSH2:c.942+3A>T ([Liu & al., 1994](https://www.ncbi.n

[2018-07-19 09:06] mjafin commented on #118
@zhongwulai care to comment?

[2018-07-20 13:00] #113 closed

[2018-07-20 13:10] pcingola commented on #109
Hi. Would it be possible for you to share that slice of tour BAM files so we can reproduce and debug the error? Thank you.

[2018-07-20 13:17] pcingola commented on #111
We should add it to the Gradle script

[2018-07-20 13:19] pcingola commented on #117
Hi. Can you share a slice of the BAM and the full command line so we can reproduce the issue?
Thank you.

[2018-07-21 01:13] ahwanpandey commented on #117
Here's a dropbox link with all the relevant files. I have placed a README.txt in the zip with descriptions.

https://www.dropbox.com/sh/q52yksv04szvc6h/AADHOQpTMgSkDbfMJiljtTlia?dl=0

[2018-07-26 06:54] macko-tipor opened #124 "Difficulties in VarDict-1.5.4 installation"
Hi,

Can you, please, help me to solve VarDictJava installation problems?

I tried to upgrade VarDict-1.5.1 to VarDict-1.5.4 to take advantage of options -u and -UN.
But I came up against two different errors:
1/ "Connection timed out" exception when trying to download gradle by the gradlew script.
2/ "String index out of range: -1" exception when trying to run VarDict-1.5.3 or VarDict-1.5.4.

I g

[2018-07-26 07:17] mjafin commented on #124
@PolinaBevad could your team provide some input here?
@macko-tipor it may be helpful if you provide a set of bed and bam files for testing where VarDict fails

[2018-07-26 07:20] PolinaBevad commented on #124
@macko-tipor , hello!
Sorry for these errors.
The first error with "Connection timed out" is strange behavior: it can appear if you have no access to the gradle.org website because of the firewall, proxy or network problems. Can you ping this site from the system where you try to build project?
Anyway, if you manually installed gradle, you can start it, not with `./gradlew clean install` (it will

[2018-07-26 08:59] macko-tipor commented on #124
Hi @PolinaBevad and @mjafin ,

Thank you for the quick answer.

I checked the gradle version installed on my server, it is Gradle 4.9 .
I used "gradle clean installDist" command to build the project. The following message came:

    Starting a Gradle Daemon (subsequent builds will be faster)

    FAILURE: Build failed with an exception.

    * What went wrong:
    Could not resolve all files for c

[2018-07-26 09:46] PolinaBevad commented on #124
@macko-tipor , the errors show that there are problems with Internet connection. I think that the second PC also can have some problems with it. To check this make `ping gradle.org -c 5` and try to manually download any file, that are pointed in error. For example I check one of them:   `https://repo.maven.apache.org/maven2/commons-cli/commons-cli/1.2/commons-cli-1.2.pom` , it opens in browser and

[2018-07-26 10:01] macko-tipor commented on #124
I created the chr1 region of a tumor-normal pair. I tried to upload them, but neither BAM nor CRAM file type seems to be supported. Should I try to zip them? Or in what form should I upload them?

[2018-07-26 10:10] PolinaBevad commented on #124
@macko-tipor , yes it is OK to make zip or tar archive with BAM. If it will be too large to upload here, you can upload to any file sharing service and provide a link to it.

[2018-07-26 11:02] macko-tipor commented on #124
The BAMs can be downloaded from the following links:

https://drive.google.com/open?id=17553EpvDY3iMhx1KC5MHh42MSVNEEzgR
https://drive.google.com/open?id=1xODrwlZm7n8wzSkTjAK8jNwzFT1cCkID

I checked them. The records of the downloaded files can be seen by "samtools view" command.

I hope they will work for you, too.

[2018-07-30 11:58] PolinaBevad commented on #124
@macko-tipor , the bam files are readable, thank you!

We reproduced the error on these bams and found where exactly it appears: it is the new part of the algorithm for modifying CIGAR on mis-softly clipped reads.
We will fix it in one of the following versions. When the PR will be ready, I will link it to this issue, so you will know about the change.

For now, you can use VarDictJava 1.5.2 or, i

[2018-07-30 14:10] macko-tipor commented on #124
Thank you very much for helping me in this issue.

I will try both ways you suggested and compare the results.
Anyway, I think, using VarDictJava 1.5.2 is suitable for my pipeline.

Best regards!

[2018-08-03 10:09] fournst opened #127 "Numeric error with var2vcf_valid.pl"
Hello,

I have an issue with values when var2vcf_valid.pl is running. Here are some exemples :
[code]

I have thousands of error like those ones.
Might the decimal argument (",") be the source of the problem ? Do you have an idea to fix this permanently ?

Thanks for your help.

[2018-08-03 10:49] chapmanb commented on #127
Thanks for the report. I agree with your diagnosis and it sounds like your locale is putting commas instead of decimal points in numbers from Java. We typically fix this by doing:
[code]
in our scripts running VarDict (and many other tools) to force back to decimal representations. Hope this resolves it for you.

[2018-08-03 11:52] fournst commented on #127
Thanks for your quick answer.

This seems to be a good solution, I will put it into my scripts and will let you know if any troubles are persisting.

Thank you for your help.
Best regards.

[2018-08-03 11:52] #127 closed

[2018-08-06 15:49] pcingola commented on #111
Done

[2018-08-06 15:49] #111 closed

[2018-08-06 15:58] pcingola commented on #117
Thank you for the files, we'll take a look at it soon.

[2018-08-08 03:03] TMiguelT commented on #111
Great, thanks!

[2018-08-20 03:09] ahwanpandey commented on #117
Any progress on this?

Thanks.

[2018-08-21 14:48] PolinaBevad commented on #117
@ahwanpandey , Sorry for the delay with this issue!

Please, try to run var2vcf_paired.pl with `-M` option. There were changes in logic of this script and field `pvalue` calculated by R.script is now checked in filter P0.05 only if `-M` option is on.
I checked it on your data and filter P0.05 was added.

Please write if there are any other problems with this filter.

[2018-08-22 03:07] ahwanpandey commented on #117
Looks like it's working now. Thanks for looking into this.

[2018-08-22 06:10] ahwanpandey commented on #117
I might have spoke too soon.

I re-ran like you suggested with the -M option. The P-value filter is now added but it is still passing variants with a P-value of more than 0.05.

The following is an example for the same dataset I uploaded. These two variants have SSF=0.1 but the p-value filter is not present in the FILTER field

[code]

[2018-08-22 08:20] PolinaBevad commented on #117
@ahwanpandey , there is a limitation for StrongSomatic variants to add this filter. So if they are StrongSomatic and pass with SSF and AF values, then we don't set P filter. All other types must be marked with it.
As I see in the VCF output, this is exactly such a situation. Do you have other types that are not marked by a filter?

[2018-08-22 08:30] ahwanpandey commented on #117
Sorry of I don't understand, but even with your explanation the SSF for both the variants here is greater tha 0.05. My P-value threshold is 0.05. So I don't know why the p-value filter is not being set.

[2018-08-22 08:49] PolinaBevad commented on #117
In addition to the check that SSF > 0.05 we have additional conditions for this filter, so I can explain it in more detail.
We have here StrongSomatic type. Also, we check SSF and AF for the variant: SSF must be less than 0.25 and AF more than 0.1. If all these conditions are right, then the P filter will not be set.
I can link you to this current string in the script, where all checks for this si

[2018-08-23 14:44] sergiigladchuk opened #130 "Negative values in NM field"
Good day,
I have noticed that except issue with DP being less then VD (which leads to strange AF calculation) that  I hope is going to be fixed soon, NM (Mean mismatches in reads) field is getting negative values. For our RNA-seq data we have about 2% of variants with NM being negative. Please fix the issue, since we would like to use this field for false positive filtering.
Another observation is

[2018-08-28 19:02] dattam opened #131 "Coverage calcualtion"
Hi,

I am trying to use VarDict to call variants from RNASeq data. I got it to work with the default options (in the sense that I am able to see some results), but the reported coverage is very low compared to what we see on IGV. Upon some looking around, it appeared as if VarDict was reporting coverage based on de-duped data (even after specifying "-F 0"). I was wondering if it has something to d

[2018-08-29 10:50] PolinaBevad commented on #131
@dattam, thank you for reporting the issue!
Could you please provide a small part of the BAM file and BED file (or region) where this problem appears with the used command line?
Also, please, try to run VarDictJava with `-t` option. It is the separate option to delete duplicate reads. Does the coverage decrease on your data with this option?

[2018-08-29 13:46] PolinaBevad commented on #130
@sergiigladchuk , thank you for reporting the issue!

I reproduced the situation on your data and at first glance, it happens when there are indels in the cigar, but NM = 0 in the read.  Mismatch value for variant is calculated now as: mismatch = NM - I - D (https://github.com/lh3/minimap2/issues/25), and it will be negative in this case.

Are you sure that NM tag value is correct in BAM file? I t

[2018-08-29 13:59] PolinaBevad commented on #117
@ahwanpandey , hello!
I'm sorry to bother you, but do you have further questions about the use of this filter?
Is it clear how it works after my previous message or do we need to discuss it in more detail?

[2018-08-29 21:30] ahwanpandey commented on #117
Hi Polina. I think that explains it. I was taking the filter at face value as I don't think it is explained in the manual anywhere. Thanks for your help!

[2018-08-31 09:28] sergiigladchuk commented on #130
Thank you @PolinaBevad , for clarification.
I have created related issue for HISAT2, which was used for alignment - [Wrong calculation for NM tag](https://github.com/infphilo/hisat2/issues/179#issue-355905146). I guess there is/was unclear definition of NM tag, if it should take into account entire gap length or just its opening. I hope that some agreement was reached, and one logic for its calcul

[2018-09-05 16:03] PolinaBevad commented on #117
@ahwanpandey , thank you too for the detailed explanation of issue!
I will close it, you can reopen it if needed.

[2018-09-05 16:03] #117 closed

[2018-09-05 16:39] PolinaBevad commented on #102
@mjafin, hello! Can we close this issue or there are other questions on this topic?
Both types of skipping reads (by R1/R2 and by forward/reverse) were implemented and the test case for this situation was added.

[2018-09-06 05:15] PolinaBevad commented on #75
@tamaraprieto , hello!
We fixed this error in PR #93, you can try VarDictJava 1.5.4 to check it.
I will close the issue, please, reopen it, if the same problem will repeat.

[2018-09-06 05:15] #75 closed

[2018-09-06 05:27] PolinaBevad commented on #95
@kscheffler, hello!
I will close this issue. If you have any additional questions on this topic, please, reopen it.

[2018-09-06 05:27] #95 closed

[2018-09-06 12:50] mjafin commented on #102
Yes OK by me.

[2018-09-06 13:10] PolinaBevad commented on #102
@mjafin, thanks, I close the issue.

[2018-09-06 13:10] #102 closed

[2018-09-07 16:17] PolinaBevad commented on #105
@gandalfone, hello!
Are you still facing with the bug? Mentioning issue #102 was resolved, therefore could you try version 1.5.4?
-f option with 0.001 definitely works, we have some variants with low frequency (0.0014 or so) in test cases.

Filtering of variants bases not only on the frequency, so if the error still appears, could you please provide part of BAM and region where it happens to find

[2018-09-07 16:30] PolinaBevad commented on #104
@koriege, hello!
Sorry for such a late reply.
Multithreading mode in VarDictJava works by splitting BED file between threads by lines. So each thread will run on one line. In this run, you specify the region option (`-R`), but not BED file, so my guess is that it is the reason: if the region is big, it will be processed a long time (VarDictJava is linear by memory) and sometimes maybe on only one

[2018-09-10 07:11] PolinaBevad commented on #84
@datakid, we update documentation in PR #133: added information about distribution package structure and third-party libraries.
I will close this issue. You can reopen it if needed.

[2018-09-10 07:11] #84 closed

[2018-09-10 08:06] PolinaBevad commented on #101
@OgnjenSB, hello,
Sorry for such a late reply!
We have some changes in the realigner, but now they have not been released yet (but they are already in master branch).
Could you please send the part of BAM, the BED (or region) and the command line you used to email polina_bevad@epam.com so that I could test them on the new version?

[2018-09-10 08:59] PolinaBevad commented on #68
@mjafin, @kamyshova, @jamie-a, hello!
I will close this issue because everything discussed was implemented.
Thanks to all!

[2018-09-10 08:59] #68 closed

[2018-09-10 09:31] PolinaBevad commented on #58
@schelhorn, hello!
I will close the issue, as all questions have been resolved. You can always reopen it if you have new questions on this topic!
Thanks a lot for the discussion!

[2018-09-10 09:31] #58 closed

[2018-09-10 09:50] PolinaBevad commented on #43
@alexanderwhatley, hello!
I will close the issue because the problem could not be reproduced in our environment, incl. Java 7.0.45 and higher, and there was no information about the command you use to run VarDict.
We recommend using VarDictJava on Java version 8 and higher. The possible cause of the issue are the profiler bugs. Hprof utility was removed since JDK 9 due to problems with it (JEP 240

[2018-09-10 09:50] #43 closed

[2018-09-10 13:31] PolinaBevad commented on #66
@mjafin, hello!
My guess is this error fixed in #128. I tested the BAM you provide in the first message on master branch of VarDictJava and now there are no negative values in the read depths.
Can we close this issue? If the problem appears again, we will reopen it.

[2018-09-10 14:38] mjafin commented on #66
Works for me

[2018-09-10 14:38] PolinaBevad commented on #66
Thanks!

[2018-09-10 14:38] #66 closed

[2018-09-11 14:38] PolinaBevad commented on #16
@landesfeind, hello,
My guess is that we can close this issue because it was a long time ago and a lot of changes were from this moment in VarDictJava (includes last changes for Structural Variants).
Please, reopen it, if it is still relevant to you, then we will know that we have to work on this.

[2018-09-11 14:38] #16 closed

[2018-09-11 15:57] PolinaBevad commented on #81
@wendymclee3, hello!
I will close the issue because we could not reproduce the problem and there was no response to the last questions.
If this issue is still relevant to you, please, reopen it! Thanks.

[2018-09-11 15:57] #81 closed

[2018-09-11 16:04] PolinaBevad commented on #80
@zyywmy, hello!
I will close the issue because there was no response from you. The proposed solution must help with this error. If the error still appears, please reopen the issue.

[2018-09-11 16:04] #80 closed

[2018-09-11 16:13] PolinaBevad commented on #109
@smzt, hello!
Does this error still appear? We are waiting for the BAM file to reproduce it. Or you can provide a link where you download it because we can't find it on the internet by name (HD827x1-2-149_forVarCall.bam).

[2018-09-11 16:29] PolinaBevad commented on #90
@akt68, hello!
We made some changes in realignment and this variant doesn't appear in results now. The changes are in `master` branch of VarDictJava, but not in releases (you can build new version yourself or wait for release).
I will close the issue, but you can reopen it if you have any questions about this topic.

[2018-09-11 16:29] #90 closed

[2018-09-11 16:32] PolinaBevad commented on #53
@davidroberson, hello!
Is this issue is relevant to you? Do you still need the option to switch strand-bias filtering off?

[2018-09-13 11:11] PolinaBevad commented on #87
@ExpressionAnalysis, hello!
The same error can occur if you use wrong fasta (not the one to BAM was aligned) and the part of BAM will lie after the end of the chromosome.
Since there is no reply from you on the last comment, I will close this issue, but you can reopen it if you have any questions about this topic.

[2018-09-13 11:11] #87 closed

[2018-09-13 11:18] PolinaBevad commented on #89
@drsuuzzz, hello!
The same error can occur if you use wrong fasta (not the one BAM was aligned to) and the part of BAM will lie after the end of the chromosome. The same can happen if BED file contains regions that are not presented in fasta file.
Please, check if regions that you deleted are in fasta and in BAM file.
Since there is no reply from you on the last comment, I will close this issue, b

[2018-09-13 11:18] #89 closed

[2018-09-14 19:29] gandalfone commented on #105
@PolinaBevad, @mjafin  :  We have tried some new data sets, and it seems the issue I reported has gone.  Sorry I did not get back to you sooner.  Thanks for your comments.  I will close the issue now.

[2018-09-14 19:29] #105 closed

[2018-09-18 12:43] PolinaBevad commented on #131
@dattam, hello!
We did not receive an answer from you, but we checked that on the latest version of VarDictJava (from master branch) duplicates are filtered by default and flag -F 0 works. The test case is in linked PR. Samtools shows that here in the tested region is exactly 1 duplicate read. The DP changed from 12 (with -F 0) to 11 (without flag).
Can you try the latest version, and if the error

[2018-09-18 12:54] PolinaBevad commented on #124
@macko-tipor, hello!
We fix the error with `StringOutOfBoundException`. There is no release for now (we will create it soon), but the fix is already merged in the `master` branch, so you can pull the changes from `master` and re-build VarDictJava with `./gradlew clean installDist` command. It has to be done from the computer with Internet connection.
Or you can wait for VarDictJava 1.5.5 release w

[2018-09-18 14:58] chapmanb opened #135 "Cigar StringIndexOutOfBoundsException error with VarDict 1.5.5"
Hello;
I've been working on testing out the latest VarDict 1.5.5 from master and am running into a cigar index error. Here is a fully contained reproducible example that demonstrates the issue (the data is publicly available, so feel free to incorporate into tests if that's helpful as well):

https://s3.amazonaws.com/chapmanb/testcases/vardict_stringindex.tar.gz

There is a `run.sh` script in ther

[2018-09-19 08:19] PolinaBevad commented on #135
@chapmanb, hello!
I prepared a fix in referenced PR #136 and added your test case there. It fixes this and 2 other possible places where such error can occur.
Thank you very much for your help!

[2018-09-21 14:22] chapmanb commented on #135
Polina -- thank you for the quick turnaround on this. I tested the fix and can confirm it's working great, the latest master branch is working on my test cases and producing great results in the current validations:

https://github.com/bcbio/bcbio_validations/tree/master/somatic-lowfreq#vardict-low-frequency-false-positive-removal

Thank you again

[2018-09-21 14:22] #135 closed

[2018-09-26 21:32] dattam opened #141 "Number of columns"
The latest version of VarDict is producing 36 columns as opposed to 34. This might need to be fixed.

On a separate note: A similar issue was raised in "VarDict" and the quick-fix suggested was to add ' || mynumcols == 36' to the code. However, the mapping of colClasses also seems to be inaccurate. Wondering if there is a simple short term fix. For example, can we 'cut' out the newly added columns

[2018-09-27 06:14] PolinaBevad commented on #141
@dattam, hello!
Sorry you have an issue with this.
The correct number of columns for output in simple mode is 36. There are two columns (35 and 36) that were added to support structural variants and duprate. You can cut them, if you don't use SVs in analysis, but it is better to use the updated scripts from VarDict Perl repository. The problem is that submodule in this project usn't updated to the

[2018-09-27 06:16] PolinaBevad commented on #131
@dattam, thank your for answer!
Good, I will close the issue, please, re-open it if needed.

[2018-09-27 06:16] #131 closed

[2018-09-27 07:07] PolinaBevad commented on #124
@macko-tipor , thank you for the answer and reporting this issue! We also created release 1.5.5: https://github.com/AstraZeneca-NGS/VarDictJava/releases/tag/1.5.5
I will close the issue. If the problem appears, please, re-open it.

[2018-09-27 07:07] #124 closed

[2018-09-29 09:54] chapmanb opened #142 "VarDictJava 1.5.5: large deletions reported starting out of region bounds"
We've been testing the new 1.5.5 release with `--nosv` turned on to just report SNPs and indels. We're running into an issue where VarDictJava will report larger deletions starting outside of the calling region bounds. For example, when calling on this region:
[code]
There is a large deletion reported in the output that starts at 150577490 before the start coordinates:
[code]
This causes issues wh

[2018-09-29 09:58] chapmanb opened #143 "VarDictJava 1.5.5: structural variant events reported with `--nosv`"
We're testing VarDict 1.5.5 for small SNP and indel calling with `--nosv` specified, but seeing structural variation events produced in the output. For example, when running:
[code]
there is a 1.1kb DUP structural variant in the output:
[code]
Since we're currently only expecting SNP and indel events in the output, this triggers downstream processing issues due to not correctly handling the differ

[2018-10-01 15:31] chapmanb opened #144 "VarDictJava 1.5.5: negative values for fisher.test"
Polina and all;
We identified an additional negative value output when testing with VarDictJava 1.5.5. This comes from RNA-seq variant calling, so might be exposing some additional edge cases we didn't see in previous reports. When using a fairly vanilla command line:
[code]
It exits out with:
[code]
I'll send a reproducible example via e-mail to help diagnose. Please let me know if I can provide

[2018-10-02 12:00] PolinaBevad commented on #143
@chapmanb, hello!
The PR with the fix for this issue is prepared here: https://github.com/AstraZeneca-NGS/VarDictJava/pull/145

Variants, that are determined as SV will be deleted from the output. We will look for the better solution to check it in place at local realignment step, but we need to make some refactoring before it, so this is a quick fix.

Test cases that you sent were added to our te

[2018-10-02 17:37] koriege commented on #104
Hey, I already found this solution in former issues and also the information, that overlapping BED regions - to not miss any variation - will be handled automatically. Anyways, thanks for your reply!

[2018-10-02 17:37] #104 closed

[2018-10-03 14:23] fournst commented on #118
Hello,

Can I have any news for this point ?

Regards.

[2018-10-04 09:53] kjass001 opened #146 "missed variant in 1 out of 3"

[2018-10-04 10:19] kjass001 opened #147 "missed variant call in 1 out of 3 replicates"
Hi,
We have a discordance issue and we just can't find the reason. Can anyone help us out?
We tested 3 clinical samples (same DNA extract) in one sequencing run.
In 2 of the 3 samples there is (an expected) call of TP53 E343* (NM_000546.5) (genomic position: 17: 7,574,000 C>A).
In one sample (1808-02528-2) this variant is not called by VardictJava -however, the mismatch is present in the .bam (bwa

[2018-10-04 14:49] PolinaBevad commented on #147
@kjass001 , hello!
Sorry that you have this issue.

Could you please test this region with `-p` option? It makes pileup, so variants won't be filtered by inner filters of VarDict for frequency and the minimum number of variance reads. Does it appear with this option?

If it is possible, could you please send the small part of bam file with this region to us for testing? You can do it by email poli

[2018-10-04 14:55] PolinaBevad commented on #144
@chapmanb , hello!
Thank you for reporting this issue!

It is fixed in #148, we adjust negative counts to zero and log the warning. Also, the warning is described here: https://github.com/AstraZeneca-NGS/VarDictJava/wiki/Warning-%22...-column-in-variant-on-position-was-negative,-adjusted-to-zero%22

I will implement the better solution with checking introns suggested by Zhongwu in one of the next

[2018-10-04 14:58] roryk commented on #144
Thanks so much everyone.

[2018-10-04 15:04] PolinaBevad commented on #142
@chapmanb, hello!
It is fixed in PR #149. Test case was added to set.
We added the option `--deldupvar` that will skip variants started outside the region of interest (SVs and long indels) to avoid duplications.
Thank you for reporting this!

[2018-10-09 23:14] ahwanpandey opened #151 "VarDictJava 1.5.5 and 1.5.6: testsomatic.R (line X did not have 55 elements)"
Hello,

I have tested both 1.5.5 and 1.5.6 and in both cases I get the error in testsomatic.R. I have attached an example file with the issue which you can try with testsomatic.R

[TumorA.VD.21.VD.gz](https://github.com/AstraZeneca-NGS/VarDictJava/files/2462513/TumorA.VD.21.VD.gz)

An example problematic line is the one highlighted below, I have also pasted one line above and below it.

TumorA	21

[2018-10-09 23:38] ahwanpandey commented on #151
To make debugging easier, I have placed some test files and a run script in dropbox for you to debug

https://www.dropbox.com/sh/q52yksv04szvc6h/AADHOQpTMgSkDbfMJiljtTlia?dl=0

[2018-10-10 02:32] Chitanda-Satou commented on #151
Hello, I met this issue too.

The error could occur in situation of WES of IDT panel (xGen® Exome Research Panel), aligned to uscs hg19 fasta.

The lines with less elements are like:
![image](https://user-images.githubusercontent.com/32410912/46709741-9f43df00-cc77-11e8-8cd3-5aa64e461577.png)

and
![image](https://user-images.githubusercontent.com/32410912/46709753-ad91fb00-cc77-11e8-8e86-50ee70f2

[2018-10-10 14:35] PolinaBevad commented on #151
@ahwanpandey, @Chitanda-Satou, thank you for reporting this!
We know about this problem (it appears in some cases for the variants of StrongLOH type). Here we have the PR #139 that must fix this situation. Now the output has the extra field for coverage of variants, it will be corrected, when the PR will be merged.

@ahwanpandey, can we use the test case that you posted here in our test case set?

[2018-10-10 22:18] ahwanpandey commented on #151
@PolinaBevad, sure, you can use the data I shared. Thanks for looking into this.

[2018-10-15 13:43] chapmanb opened #153 "1.5.6: NullPointerException in joinVariantWithNM"
Polina, Zhongwu, Pablo and all;
While testing the 1.5.6 release we ran into a null pointer exception in two different samples:
[code]
Here is a small standalone test case that reproduces the problem:

https://s3.amazonaws.com/chapmanb/testcases/vardict_joinnm_nullpointer.tar.gz

I know there are some outstanding PRs dealing with NM issues and am not sure if any of those resolve this issue. Please

[2018-10-15 17:42] chapmanb commented on #153
Polina;
Thanks for this investigative work. I've been running more validations and it sounds like we should be getting #152 and also #139 integrated for a new release. The StrongLOH problem in #139 appears pretty commonly with paired output in 1.5.6; coupled with the poor way in which testsomatic.R just swallows errors this will cause essentially empty VCFs whenever there is a problem StrongLOH wi

[2018-10-17 15:35] mezewudo opened #156 "Compilation issue: generating Javadoc for Version 1.5.6"
The compilation fails at the point of generating Javadocs.

I have tried this on two separate machines but still get the same error:

Task: javadoc FAILED.

Please take a look.

[2018-10-18 11:32] PolinaBevad commented on #156
@mezewudo, hello!
Sorry, you have the issue with it.

I tried to run it with commands `./gradlew clean javadoc` , `./gradlew javadoc` and the task `javadoc` through the Gradle interface in Intellij Idea and all tasks completed successfully.
Could you please specify the command that you use and the versions of OS, JDK and Gradle (if you don't use wrapper) where the error appears?

[2018-10-18 11:37] PolinaBevad commented on #151
@ahwanpandey , @Chitanda-Satou , hello!
We created the new release 1.5.7 (https://github.com/AstraZeneca-NGS/VarDictJava/releases/tag/v1.5.7), where this error with StrongLOH type has been fixed.
I will close this issue, but if you will still have the errors like this, feel free to reopen it.
Thank you!

[2018-10-18 11:48] PolinaBevad commented on #144
Hello all!
I'll close this issue because PR #150 (with the check for indels before/after introns) merged and the release 1.5.7 contains this fix.
Thank you a lot for helping with test cases!

[2018-10-18 11:48] #144 closed

[2018-10-18 11:51] PolinaBevad commented on #130
@sergiigladchuk, hello!

We added adjusting of the NM field to zero in case of such errors in the VarDictJava and Perl versions to avoid negative values in output if they appear due to alignment problems. Release 1.5.7. (https://github.com/AstraZeneca-NGS/VarDictJava/releases/tag/v1.5.7) contains this fix.

I will close this issue, please, re-open it if you will have another question on this topic

[2018-10-18 11:51] #130 closed

[2018-10-18 12:12] PolinaBevad commented on #143
@chapmanb , hello!
I'll close the issue, the option deletes SVs found in local realignment, since 1.5.6 release.

[2018-10-18 12:12] #143 closed

[2018-10-18 12:14] PolinaBevad commented on #53
@davidroberson, hello!
Because there was no answer from you since the last comment, I will close the issue. Please, re-open it, if needed.

[2018-10-18 12:14] #53 closed

[2018-10-18 12:48] PolinaBevad commented on #141
@dattam, hello!
We updated scripts for .R in release 1.5.7 (we also fixed .pl scripts for somatic mode there).
Mapping of the columns isn't important because only 4 columns from it (#10-13 that map correctly) are necessary for the calculating in fisher.test.
I will close this issue, please, re-open it, if you will have any additional questions.

[2018-10-18 12:48] #141 closed

[2018-10-18 13:44] PolinaBevad commented on #156
@mezewudo, thank you.
I reproduced the error on the other system, we will fix these javadoc errors, most of them are because of symbols '<' and '>' describing structural variants.
Thank you for reporting this, I will comment this issue when we merge the fix.

[2018-10-22 11:13] PolinaBevad commented on #142
@chapmanb, hello!
I will close this issue because the fix was released since 1.5.6 version.
Thank you again!

[2018-10-22 11:13] #142 closed

[2018-10-23 09:36] PolinaBevad commented on #153
@chapmanb, hello!
The NPE now won't be reproduced since 1.5.7, thank you a lot for finding it!
Also, thank you for the changes in testsomatic.R script.
I'll close the issue.